[2017-06-14 08:58] culmat opened #1 "Aufnahme Initale Mitglieder"
Neben den an der Gründungssitzung bereits aufgenommen Mitgliedern, haben folgende Personen im Vorfeld mitgearbeitet.

Sollen wir Sie alle aufnehmen, falls sie dies möchten und im laufenden Jahr beantragen?
Dann müssen wir nicht jeden einzeln bestätigen.

- Benjamin Rüde
- Brani Siarsky
- Goran Brodnik
- Jonas Jatsch
- Marina Morawietz
- Michel Pfirter
- Michael Börner
- Stefan Philippi

[2017-06-14 09:21] culmat commented on #1
:white_check_mark:

[2017-06-14 09:31] Brenzikofer commented on #1
Ich bin einverstanden - LG Thomas

[2017-06-15 09:59] ghost commented on #1
:white_check_mark:

[2017-06-15 16:19] ghost opened #2 "Mitgliederantrag Martin Christen"
:white_check_mark:

[2017-06-16 05:46] ghost opened #3 "Mitgliederantrag Andres Gartmann"
:white_check_mark:

[2017-06-16 06:06] teddybeaker commented on #3
:white_check_mark: (der ghost war ich; musste noch meinen github-account umhängen)

[2017-06-16 06:06] teddybeaker commented on #2
:white_check_mark: (der ghost war ich; musste noch meinen github-account umhängen)

[2017-06-16 06:09] culmat commented on #2
:white_check_mark:

[2017-06-16 06:16] culmat commented on #1
2/3 -> OK

[2017-06-16 06:16] #1 closed, assigned to culmat

[2017-06-16 06:19] culmat commented on #2
2/3 -> OK

[2017-06-16 06:19] #2 closed, assigned to nobody

[2017-06-16 06:22] culmat commented on #3
:white_check_mark:

2/3 -> OK

[2017-06-16 06:22] #3 closed, assigned to nobody

[2017-07-03 14:19] teddybeaker opened #4 "Social Media"
for Twitter, Xing, LinkedIn

-> Valérie, Oliver

[2017-07-03 14:23] teddybeaker opened #5 "Slack"
open channel
invite people

-> Andres

[2017-07-03 14:27] teddybeaker opened #6 "Setup Event for Registration"
do after next meeting, when we have texts ready
- notify people from GoogleDocs
- notify BaselArea Swiss network

Pass link on to be updated on webpage.

[2017-07-03 14:38] teddybeaker opened #7 "Donation Account"
open Paypal donation account

[2017-07-03 14:49] teddybeaker opened #8 "Sponsoring: add Infopoint"

[2017-07-03 15:02] teddybeaker commented on #8
not applicable

[2017-07-03 15:02] #8 closed, assigned to nobody

[2017-07-03 15:16] teddybeaker opened #9 "Write recommendations for data delivery"
points like
- public data
- easy accessable format
- availablity at event

-> Martin, Andres, Vivienne

[2017-07-03 15:19] teddybeaker opened #10 "Raum-Reservation HGK"
HGK
-> Marina

[2017-07-03 15:23] teddybeaker opened #11 "Invite involved people to become members"
+ invite to github

[2017-07-03 15:26] teddybeaker opened #12 "Track Sponsors"
with status, on GoogleDrive

[2017-07-03 16:30] culmat opened #13 "Email groups and contact sheets"
- team
- members

[2017-07-03 16:33] culmat commented on #13
@BaselHack/mitglieder
wir könnten auch einfach [team mentions](https://github.com/blog/1121-introducing-team-mentions) verwenden.
Dann bleibt die Info auch themen bezogen

[2017-07-03 16:44] culmat commented on #5
wären [mentions](https://github.com/BaselHack/verein/issues/13#issuecomment-312689513) nicht eine Lösung?
Dann hätten wir alle info an einer Stelle und nur eine [Liste der Mitglieder](https://github.com/orgs/BaselHack/teams/mitglieder/members) zu verwalten?

[2017-07-04 05:54] teddybeaker commented on #13
Finde ich gut, wenn wir alle Daten an einem Ort verwalten können. Würde in dem Fall auch gar keinen Mail-Verteiler erstellen. Wie könnte man alle ansprechen, also auch die nicht-Mitglieder?

[2017-07-04 06:00] teddybeaker commented on #11
Done, using old-fashioned E-Mail

[2017-07-04 06:00] #11 closed, assigned to teddybeaker

[2017-07-04 16:55] culmat commented on #13
Die mentions funktionieren mit Github teams. Wir können beliegibe Teams erstellen, aber nur, wenn wir die Github-UserIDs der Leute kennen. Von einigen Non-Members kennen wir sicher nur Email. Ich denke für team macht ein Kontakt-Sheet / Mailverteiler Sinn.

[2017-07-05 05:21] teddybeaker commented on #13
@culmat : Wenn ich Personen beim Github hinzufüge, gebe ich die Gruppe "mitglieder" nur, wenn sie Vereinsmitglied sind? Bin etwas verwirrt wegen "members" und "mitglieder" :)

[2017-07-05 06:01] culmat commented on #13
@teddybeaker ja das ist die Idee "mitglieder" =  vereinsmitglieder. Sollen wir die Gruppe umbennen?

[2017-07-05 06:13] teddybeaker commented on #13
@culmat ja gern, das würde mich entwirren :) habe es grad geändert.

[2017-07-05 07:11] OliverFritsch commented on #4
Xing Eventseite: https://www.xing.com/events/baselhack-1833608

Linkedin Gruppe: https://www.linkedin.com/groups/8615464

[2017-07-05 09:28] mabrimo opened #14 "member"
marina.morawietz@fhnw.ch, mabrimo

Ich würde gerne als Vereinsmitglied beitreten.

[2017-07-05 09:44] jjerlich opened #15 "Create Community"
The use of Meetup powered by BaselArea.swiss is being checked by Thomas

[2017-07-05 09:45] andgart commented on #5
@teddybeaker @culmat: Ich habe mal einen slack channel aufgemacht (https://baselhack.slack.com), aber noch keine Einladungen versendet

[2017-07-06 05:42] teddybeaker commented on #14
super, freut mich 🙂

[2017-07-06 06:03] teddybeaker commented on #13
Daten übernommen nach https://github.com/BaselHack/verein/wiki/Team und Mail-Verteiler team@baselhack.ch erstellt.

[2017-07-06 06:03] #13 closed, assigned to teddybeaker

[2017-07-06 07:58] culmat opened #16 "Mitgliedsantrag Jutta Jerlich"
jutta.jerlich@gmail.com
https://github.com/jjerlich

[2017-07-06 09:25] Brenzikofer commented on #16
approve

[2017-07-07 11:19] teddybeaker commented on #5
@andgart: ich frage bei der nächsten Sitzung nach, ob uns Slack hilft oder behindert in der Vorbereitungsphase.

[2017-07-07 11:24] teddybeaker commented on #16
approve und added 😄

[2017-07-07 11:24] #16 closed, assigned to teddybeaker, Brenzikofer

[2017-07-07 11:26] teddybeaker commented on #12
Spreadsheet "Sponsoring_Status" gestartet in GoogleDrive, muss es aber noch besser ausarbeiten

[2017-07-08 08:35] culmat commented on #14
:+1:

[2017-07-08 08:35] #14 closed, assigned to culmat, Brenzikofer

[2017-07-10 12:30] Brenzikofer commented on #14
bestens

[2017-07-11 04:51] teddybeaker commented on #5
@andgart: habe nachgefragt und der Tenor ist, dass uns Slack hilft, sofern wir allfällige Entscheidungen immer noch auf Github festhalten. Also bitte alle von https://github.com/BaselHack/verein/wiki/Team einladen wenn du zurück bist, merci

[2017-07-11 06:32] rolf0408 opened #17 "member"
Rolf Schaub
rolf.schaub@ict-scouts.ch
rolf0408

[2017-07-11 18:08] culmat commented on #17
:+1:

[2017-07-11 21:08] juengls opened #18 "member"
Stephan Jüngling
stephan.juengling@fhnw.ch
juengls

[2017-07-12 05:38] teddybeaker commented on #17
👍

[2017-07-12 05:38] #17 closed, assigned to teddybeaker, Brenzikofer

[2017-07-12 05:42] teddybeaker commented on #18
👍

[2017-07-12 11:31] mabrimo commented on #10
Who of you would be willing to take a look at the location in Dreispitz to check for technical requirements in the week from 24th-28th one day in the morning (the responsible Lady is only working part time)? Please comment and I will make a doodle to fix the date.

[2017-07-14 06:24] teddybeaker commented on #12
updated spreadsheet and status for two sponsors

[2017-07-16 21:04] andgart commented on #5
Done

[2017-07-16 21:04] #5 closed, assigned to teddybeaker, andgart

[2017-07-17 10:47] sabinsc opened #19 "member Sabine Schneeberger"
https://github.com/sabinsc

Sabine Schneeberger, Leiterin Web-Entwicklung
Präsidialdepartement des Kantons Basel-Stadt
Staatskanzlei | Kommunikation
Marktplatz 9 | CH-4001 Basel
Telefon: +41 61 267 69 64
sabine.schneeberger@bs.ch
www.staatskanzlei.bs.ch/ogd
https://twitter.com/hashtag/opendataBS

[2017-07-18 08:37] andgart commented on #10
@mabrimo happy to help
@andgart - thanks! wann hättest du nächste Woche Vormittag gut Zeit?

[2017-07-19 12:21] OliverFritsch commented on #10
@mabrimo: I'd like to join as well.

[2017-07-20 06:20] sabinsc commented on #18
https://github.com/sabinsc
Sabine Schneeberger, Leiterin Web-Entwicklung
Präsidialdepartement des Kantons Basel-Stadt
Staatskanzlei | Kommunikation
Marktplatz 9 | CH-4001 Basel
Telefon: +41 61 267 69 64
sabine.schneeberger@bs.ch
www.staatskanzlei.bs.ch/ogd
https://twitter.com/hashtag/opendataBS

[2017-07-20 06:21] teddybeaker commented on #19
👍

[2017-07-20 06:22] sabinsc commented on #19
moved to #18 member...

[2017-07-20 06:23] teddybeaker commented on #19
Hallo @sabinsc , danke für deinen Mitgliederantrag. Die anderen Vorstandsmitglieder sind grad in den Ferien, habe ihn ihnen aber zugeteilt.

[2017-07-20 07:10] sabinsc commented on #15
Next Open Stammtisch November 2017 http://www.staatskanzlei.bs.ch/opendataBS
could be a "after BaselHack ist before the BaselHack" Open Stammtisch.

[2017-07-20 07:33] sabinsc commented on #9
Perhaps Data Publishers could pitch their OpenData in a Pre-Event. BaselHackers could then prepare their BaselHack-Project. Not only programmers should be involved, but also designers all together with their entourage of in the matter interested people - interdisciplinary teams that develop something together. Perhaps we could also gain school projects to participate.

[2017-07-25 08:10] jjerlich commented on #19
Ganz herzlichen Dank @sabinsc für unser Erstgespräch, die Ausschreibung des Special Prices für euer #opendata Projekt und die gestrige Sitzung zur Sichtung der vorhandenen Daten mit Andres Gartmann

[2017-07-25 08:11] jjerlich commented on #15
Great to have this set in terms of sustainability and continuation with BaselHack next year

[2017-07-25 08:17] jjerlich commented on #12
Updated spreadsheet with Special Price information Kanton Basel Stadt

[2017-07-25 08:19] jjerlich commented on #9
24.7.2017 Meeting with @sabinsc and Andres Gartmann about available data and its format. Results will be discussed in Vereinsmeeting on 27.7.2017

[2017-07-25 08:20] jjerlich commented on #9
Offer for a pre-workshop about data from School of data www.schoolofdata.ch / forum.schoolofdata.ch  made by Oleg Zaworsky
Olge owns www.datalets.ch/dribdat - a "Swiss made" open source hackathon helper - which can be used to put all the ideas/challenges/teams/projects together in one place, and optionally connected to a forum or Slack for online collaboration. See hack.opendata.ch and now.makezur

[2017-07-26 08:49] Brenzikofer commented on #19
👍

[2017-07-27 07:46] jjerlich commented on #15
In conversation on Twitter with following amplifiern:
@g33konaut
@Archilogic3D
@loleg
@_sabin_

[2017-07-27 14:17] teddybeaker opened #20 "Texte erarbeiten"
Zusammen mit Lisa, am Mittwoch 2.8.
Versand an Thomas

[2017-07-27 14:23] teddybeaker opened #21 "Kontaktdaten aus GoogleDocs an Thomas schicken"

[2017-07-27 14:24] teddybeaker opened #22 "Redirect baselhack.ch/registration einrichten"
Sobald die  URL von Thomas erhalten

[2017-07-27 14:26] teddybeaker opened #23 "Interessenten antworten"
siehe GoogleDocs für Fragen
Übernachtungsmöglichkeiten in Backpacker usw.

[2017-07-27 15:11] teddybeaker opened #24 "Update Sponsoring documents and rules"
- data provider can be anyone
- tool providers have to sponsor

[2017-07-27 15:14] teddybeaker opened #25 "Tool to manage Teams and Status during Hackathon"
Inquire about costs

[2017-07-27 15:21] teddybeaker opened #26 "Create E-Mails"
sponsoring@baselhack.ch -> Jutta, Jonas
data@baselhack.ch -> Andres, Jutta

[2017-07-27 15:32] teddybeaker opened #27 "Check Location for Pre-Event"
Friday 20.10.2017, Fluxdock

[2017-07-27 15:37] teddybeaker commented on #4
@valeriecan: kannst du bei Facebook und Twitter @jjerlich  als Admin freischalten? Merci

[2017-07-27 15:42] teddybeaker opened #28 "OnSite Planning"
Track, who of the team plans to participate and who is available for staff

[2017-07-27 16:55] teddybeaker commented on #26
done

[2017-07-27 16:55] #26 closed, assigned to teddybeaker

[2017-07-28 07:31] teddybeaker opened #29 "Update sponsoring document"
add new e-mail address
create pdf and upload

[2017-07-29 09:51] mabrimo opened #30 "Check out location on Wednesday 2nd August 10am"
Oliver and I will be checking out the Location. Who wants to join to ask critical questions?
Location: Hochschule für Gestaltung und Kunst, Hochhaus Freilagerplatz 1 Münchenstein.
We are Meeting in the entrance hall. Please comment if you want to join.

[2017-08-02 11:41] teddybeaker commented on #29
on hold since build of website is failing (https://travis-ci.org/BaselHack/BaselHack.github.io/builds)

[2017-08-02 12:05] teddybeaker commented on #28
https://github.com/BaselHack/verein/wiki/Staff---Planning

[2017-08-02 12:08] teddybeaker commented on #28
@BaselHack/vereinsmitglieder: please fill out https://github.com/BaselHack/verein/wiki/Staff---Planning whether you want to participate at BaselHack or are available as staff.

[2017-08-02 12:32] teddybeaker commented on #19
https://github.com/BaselHack/verein/wiki/Mitglieder ergänzt

[2017-08-02 12:33] teddybeaker commented on #18
@Brenzikofer , @culmat : brauche hier noch ein OK von einem von euch :smiley:

[2017-08-02 14:15] #30 closed, assigned to mabrimo

[2017-08-02 15:43] Brenzikofer commented on #18
OK für mich

[2017-08-02 15:51] #18 closed, assigned to culmat, teddybeaker, Brenzikofer

[2017-08-04 12:15] JJatsch commented on #28
Hi Steffi

 

Ich kann soweit ich sehe das Wiki nicht bearbeiten. Bin an allen 3 Tagen als Staff verfügbar.

 

Liebe Grüsse

Jonas

 

Gesendet: Mittwoch, 02. August 2017 um 14:08 Uhr
Von: "Stefani Gerber" <notifications@github.com>
An: BaselHack/verein <verein@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Betreff: Re: [BaselHack/verein] OnSite Planning (#28)

@BaselHack/vere

[2017-08-04 13:43] teddybeaker commented on #28
Hoi @JJatsch
Habe es eingetragen. Deine Einladung zu Github ist noch hängig, evtl. musst du die zuerst annehmen. Habe sie nochmals verschickt. Melde dich, falls du kein E-Mail erhältst.
LG, Steffi

[2017-08-07 19:29] jjerlich commented on #25
Here is the answer from https://github.com/loleg, here is also Dribdat https://github.com/loleg/dribdat

"Dribdat is open source and relatively straightforward to deploy, so you could just follow the online instructions to get it up and running, a basic Heroku instance for 6 months would cost around 300 CHF.

If you'd like help setting it up and making sure it's extra accessible and performant dur

[2017-08-07 20:19] jjerlich commented on #23
erledigt

[2017-08-07 20:19] #23 closed, assigned to jjerlich

[2017-08-07 20:20] jjerlich commented on #21
Sent to Thomas via Email

[2017-08-08 04:57] teddybeaker commented on #29
done

[2017-08-08 04:57] #29 closed, assigned to teddybeaker

[2017-08-08 14:55] JJatsch commented on #28
Hoi Steffi

 

Ist es weiterhin hängig? Ich habe ansonsten noch keine Bestätigungsmail von Github bekommen?

 

Welche Adresse hast du eingeladen? Die hier oder die Baloise Adresse?

 

Liebe Grüsse

 

Jonas

 

Gesendet: Freitag, 04. August 2017 um 15:43 Uhr
Von: "Stefani Gerber" <notifications@github.com>
An: BaselHack/verein <verein@noreply.github.com>
Cc: JJatsch <jonasjatsch@gmx.net>, Mentio

[2017-08-08 15:03] teddybeaker commented on #28
Hoi @JJatsch
Ja, du bist weiterhin unter "pending invitations". Sehe nur deinen Github-Account, nicht welche E-Mail-Adresse dahinter ist. Wenn du dich auf Github einloggst und danach auf https://github.com/orgs/BaselHack navigierst, siehst du dann die Einladung für das Repo? (siehe Screenshot auf https://stackoverflow.com/questions/34020327/cant-find-github-invitation-to-join-repo)

Liebe Grüsse,

[2017-08-10 14:19] teddybeaker opened #31 "Event Repo"
- Public
- page for topics

[2017-08-10 14:23] teddybeaker opened #32 "TwitterAccount"

[2017-08-10 14:46] teddybeaker opened #33 "Instructions for participants"
- wie bereite ich mich vor
- Checkliste, die wir in Follow-up-Mails brauchen können
  - topic eingeben / über topics informieren
  - save the date for pre-event? -> Webilea-Event
  - tell your friends (provide template)
  - bring your phone for WLAN-Access
- Rules / Code of Conduct
- will you code or are you a creative person?
- participate at your own risk

[2017-08-10 14:56] teddybeaker opened #34 "Insurance: do we need one?"
- können wir jede Haftung ablehnen?

->Oliver

[2017-08-10 15:03] teddybeaker opened #35 "Code of Conduct"
Translate and add to Rules

[2017-08-10 15:06] martinchristen commented on #35
All attendees of BaselHack must agree and respect the "BaselHack Community Code of Conduct":

The BaselHack community is made up of members from around the globe with a diverse set of skills, personalities, and experiences. It is through these differences that our community experiences great successes and continued growth. When you're working with members of the community, we encourage you to foll

[2017-08-10 15:09] teddybeaker commented on #9
Won't collect data beforehand, everybody brings their own data

[2017-08-10 15:09] #9 closed, assigned to martinchristen, andgart

[2017-08-10 15:09] teddybeaker opened #36 "www.datalets.ch/dribdat"
Buy if we have money :)

[2017-08-10 15:22] teddybeaker commented on #10
Infos:
- Können Aussenbereich mitnutzen
- Empfang kostet evtl. weniger oder nichts
- technische Unterstützung kostet
- Freitag ab 19Uhr dürfen wir in die Räume
- offiziell darf nicht übernachtet werden
- Kühlschrank (gross) und Kaffeemaschine können wir nutzen
- Putzdienst kommt am Montag Morgen, bis dann muss alles abgebaut sein

Noch offen:
- brauchen wir Security?
- sind wir bei Catering gebund

[2017-08-10 15:26] martinchristen commented on #32
https://twitter.com/BaselHack

- Background image still missing

[2017-08-10 15:28] teddybeaker commented on #36
duplicate of #25

[2017-08-10 15:28] #36 closed, assigned to andgart, jjerlich

[2017-08-11 08:20] martinchristen commented on #32
https://twitter.com/BaselHack

done

[2017-08-11 08:20] #32 closed, assigned to martinchristen

[2017-08-11 08:54] martinchristen commented on #22
**Backup für Anmeldung**
https://ti.to/baselhack/baselhack-2017

Einbinden mit
<link rel="stylesheet" type="text/css" href='https://css.tito.io/v1.1' />
<script src='https://js.tito.io/v1' async></script>
<tito-widget event="baselhack/baselhack-2017"></tito-widget>

[2017-08-11 08:56] martinchristen commented on #22
sorry, einbinden mit:

[code]

[2017-08-11 11:47] culmat commented on #31
https://github.com/BaselHack/BaselHack2017/wiki/Topics

[2017-08-11 11:47] #31 closed, assigned to culmat

[2017-08-11 11:49] culmat opened #37 "Jury"
People and judging criteria
see [https://github.com/BaselHack/verein/wiki/Rules]

[2017-08-16 14:15] schmidchr opened #38 "member"
Christoph Schmid
Christoph-D.Schmid@swissonline.ch
schmidchr

[2017-08-17 04:42] teddybeaker commented on #22
Anmeldung über BaselAreaSwiss ( https://www.baselarea.swiss/de/baselarea-swiss/channels/innovation-events/2017/10/baselhack-der-hackathon-fuer-die-region-basel.html) eingerichtet
- Weiterleitung unter baselhack.ch/registration
- Link in Webseite korrigiert

[2017-08-17 04:46] teddybeaker commented on #22
@martinchristen: herzlichen Dank für das Einrichten von Tito. Da die Registrierung über BaselArea.swiss zeitnah aufgeschaltet wurde brauchen wir Tito doch nicht. Kannst du kontrollieren, dass wir nur "eigene" Anmeldungen drin haben und es dann deaktivieren? Nicht dass der Link dann plötzlich doch noch irgendwo rumschwirrt und wir Anmeldungen übersehen.

[2017-08-17 04:53] teddybeaker commented on #38
Hallo @schmidchr
Danke für dein Interesse. Falls du nicht bereits über ein bestehendes Team-Mitglied zu uns gestossen bist: wir treffen uns das nächste Mal kommenden Montag (21.8.) von 16:00-17:30 bei Baloise (Aeschengraben 21, 4051 Basel).
Viele Grüsse und bis hoffentlich bald,
Steffi

[2017-08-17 04:55] teddybeaker commented on #6
now online: https://www.baselarea.swiss/de/baselarea-swiss/channels/innovation-events/2017/10/baselhack-der-hackathon-fuer-die-region-basel.html
- english translation will follow soon

[2017-08-17 05:25] teddybeaker commented on #35
Erstellt unter https://github.com/BaselHack/verein/wiki/Code-of-Conduct-(Verhaltenskodex)

@martinchristen , @mabrimo : könnt ihr euch die deutsche Übersetzung anschauen? Änderungen gern grad direkt vornehmen.

[2017-08-17 06:41] martinchristen commented on #22
ti.to gelöscht

[2017-08-17 06:56] martinchristen commented on #35
Aus meiner Sicht ok. Habe Kleinigkeiten editiert.

[2017-08-17 07:18] mabrimo opened #39 "Spread the word!"
Application link and info text online:
https://github.com/BaselHack/verein/wiki/Infotext

@BaselHack/Vereinsmitglieder: Spread the word
@OliverFritsch kannst du es bitte mit lieben Gruss von mir an Michelle A. weiterleiten? Danke

[2017-08-17 07:30] mabrimo commented on #35
Aus meiner Sicht ebenfalls ok, habe Kleinigkeiten direkt vorgenommen.
Vielleicht sollte man unter "rücksichtsvoll" noch einen zusätzlichen Satz ergänzen - was meint ihr?

D Auch gegenüber der uns zur Verfügung gestellten Infrastruktur und Räumlichkeiten sind wir stets rücksichtsvoll und walten entsprechende Sorgfalt.

E We are also regardful and show care towards the infrastructure and location we

[2017-08-17 08:24] jjerlich commented on #21
Alle Leute wurden von mir angeschrieben und informiert. Habe auch 2 bereits getroffen :-)

[2017-08-17 08:24] jjerlich commented on #21
Alle Leute wurden von mir angeschrieben und informiert. Habe auch 2 bereits getroffen :-)

[2017-08-17 08:24] #21 closed, assigned to jjerlich

[2017-08-17 17:33] culmat commented on #38
:+1:
Willkommen Christoph!
@teddybeaker : kannst du Christoph bitte zu  team@baselhack.ch hinzufügen?
Den rest hab ich gemacht - hoffe ich habe nichts vergessen ;-)

[2017-08-17 17:33] #38 closed, assigned to culmat, teddybeaker, Brenzikofer

[2017-08-17 19:57] schmidchr commented on #38
Danke @teddybeaker <https://github.com/teddybeaker> und @culmat für die
diversen Einladungen und Informationen.

Ich werde versuchen, am Treffen am Montag teilzunehmen, und dabei
herauszufinden, welche Beiträge ich zu BaselHack leisten kann?

PS. Antwort auf geschlossenes issue eigentlich ein no-go :(, hoffentlich
als 'Anfängerfehler' toleriert :)

On 2017-08-17 19:33, Matthias Cullmann wrote:

[2017-08-18 05:40] teddybeaker commented on #35
Finde ich gut so, habe es übernommen. Merci euch beiden.

[2017-08-18 05:40] #35 closed, assigned to martinchristen, teddybeaker

[2017-08-18 05:48] teddybeaker commented on #38
👍
Im Mail-Verteiler aufgenommen.

@culmat : Hast an alles gedacht 😄 Habe unten auf der Teamseite eine Checkliste angehängt für Neuzugänge (https://github.com/BaselHack/verein/wiki/Team#admin-add-a-new-team-member). Analog für neue Vereinsmitglieder (https://github.com/BaselHack/verein/wiki/Mitglieder#admin-add-new-vereinsmitglied).

[2017-08-19 14:30] culmat commented on #7
It is on http://test.baselhack.ch/ - what do you think?

[2017-08-20 06:59] teddybeaker commented on #7
👍

[2017-08-20 16:59] teddybeaker commented on #22
add separate redirect for EN-version (/registration.en would be compliant to naming of index.html index.en.html; check if that works)

[2017-08-21 12:46] culmat commented on #10
Zur Info. Habe mal eine Offerte für WLAN eingeholt: https://drive.google.com/drive/folders/0BwYmOJdMXmpiRk1fUEF2WnFBYkk  -> wäre super, wenn es ohne externen Provider klappt ;-)

[2017-08-21 14:21] michelpfirter opened #40 "Check Registration Admin Tool Access for baselhack members"
Find out if there is a way to let other baselback members check and see the state of registrations.
Background of the issue / requirement is, that a broader group of people can manage registrations and no bottleneck occurs. Thanks

[2017-08-21 14:28] teddybeaker opened #41 "Revise Budget"
also consider 300CHF for #25

[2017-08-21 14:31] teddybeaker commented on #6
spreading the word is tracked in #39

[2017-08-21 14:31] #6 closed, assigned to Brenzikofer

[2017-08-21 14:41] teddybeaker commented on #7
@culmat tests, how the donation aspect works -> leave ticket open for the time beeing

[2017-08-21 14:50] teddybeaker commented on #27
@Brenzikofer : wie ist der Stand hier? Bitte ins Ticket protokollieren.

[2017-08-21 15:00] teddybeaker commented on #37
according to sponsoring: someone from Baloise 😄

[2017-08-21 15:03] teddybeaker commented on #37
criteria for jury members (~5 persons):
- diverse (gender, language, Branche)

criteria for topics:
- innovationsgehalt
- potential / marktpotential / machbarkeit

[2017-08-21 15:10] michelpfirter commented on #24
ist live

[2017-08-21 15:10] #24 closed, assigned to michelpfirter

[2017-08-21 15:17] teddybeaker opened #42 "contact data-provider"
* BaselStadt can provide dataset
* Vivienne has various contacts

track on:
https://github.com/BaselHack/BaselHack2017/wiki/Topics

-> Vivienne

[2017-08-22 05:27] teddybeaker commented on #22
fixed

[2017-08-22 05:27] #22 closed, assigned to teddybeaker

[2017-08-22 12:46] andgart commented on #42
Am 10.08.2017 um 23:06 schrieb Andres Gartmann <andres.gartmann@gmx.ch>:

Liebe Sabin,

wie besprochen anbei eine Liste von gewünschten Daten. Unter dem Blatt "Selektierte Ideen" sind die letzten Montag besprochenen Ideen aufgelistet. Für jede habe ich versucht die entsprechend nötigen Daten aufzuführen. Die dunkelgelb markierten wären nötig zu besorgen, die hellgelben sind im geoviewer auffindbar

[2017-08-23 07:23] sabinsc commented on #42
-----Ursprüngliche Nachricht-----
Von: Schneeberger, Sabine
Gesendet: Freitag, 11. August 2017 12:08
An: 'Andres Gartmann'
Cc: Christen, Martin; Mayer, Vivienne; Jutta Jerlich
Betreff: AW: Daten BS

Lieber Andres

Danke für die Zusammenstellung. Werde die Hebel möglichst in Bewegung setzen. Z.T. muss ich noch die zuständigen Stellen ausfindig machen (@ Vivienne rufst mich mal an, vielleicht gibt's

[2017-08-23 09:19] mayvi commented on #37
I asked Thomas Berger, IT-Leader of Kanton Basel-Stadt, if he would join us as Jury member. He accepted and he'll confirm it in the next days if his agenda allows it ;-)

[2017-08-23 19:24] schmidchr commented on #37
to summarize above:

minimal Task of jury members:
	to evaluate each of the 5-20 topics at the final presentation on Sunday Oct-29 from 16 - 18h

Jury members:
	aiming at 5 personalities with interest and competences in software development in the Basel area
	representing sponsors (Baloise Insurance, ...)
	aiming at some diversity in specializations, gender, languages
	→ see on GoogleDocs a list o

[2017-08-23 19:34] schmidchr opened #43 "read permissions GoogleDocs"
at present anyone with the link can access (all of?) the documents on GoogleDocs.
Would it for some 'sensitive' documents (passwords, accounts, phone numbers, ...) make sense to restrict access to registered team members?
(may require to manually add/remove people!)

[2017-08-24 06:10] teddybeaker commented on #43
thanks @schmidchr. I changed the permissions of the top-level folder, will have to check if that applies to the individual files automatically another time.

[2017-08-24 07:31] sabinsc commented on #42
Lieber Andres

Ich habe die Rückmeldung vom Amt für Mobilität erhalten, dass sie Daten wie folgt für den BaselHack zur Verfügung stellen können:

Verkehrszähldaten (Vergangenheitsdaten, etwa ein Monat zurück) in Stundenauflösung für den MIV, Velos und Fussgänger

Weitere Infos, wo was gesammelt wird:
http://www.mobilitaet.bs.ch/gesamtverkehr/verkehrskennzahlen/verkehrszaehlung.html
http://www.mobi

[2017-08-24 09:02] sabinsc commented on #42
Plattform für Datasets https://github.com/StakaBS/BaselHack

[2017-08-24 15:48] andgart commented on #42
Liebe Sabin,

danke für die erfreuliche Mitteilung.

Von Seiten einer Datenanalyse = Applikation: Stündlich aggregierte Werte aufgeteilt nach Kategorien für einen Zeitraum mit möglichst vielen aktiven Beobachtungen über einen kontinuierlichen Zeitraum = Möglichst wenig Datenlücken an möglichst vielen Punkten über möglichst viele unabhängige kontinuierliche Zeiträume.

anders formuliert:
- stündlic

[2017-08-28 14:52] StanBarrows opened #44 "member: StanBarrows; genusshaus"
name: Sebastian
email: sebastian.fix@smartgate.ch
Github-username: StanBarrows

[2017-08-28 14:53] StanBarrows commented on #44
name: Oliver
email: oliver.reist@smartgate.ch
Github-username: genusshaus

[2017-08-29 05:13] teddybeaker commented on #44
Hallo Sebastian und Oliver
Herzlichen Dank für euer Interesse! Ich werde euch gleich noch die Einladung zu unserer nächsten Sitzung weiterleiten und würde mich freuen, euch dort persönlich kennenzulernen.
Viele Grüsse,
Steffi

[2017-08-29 05:22] teddybeaker opened #45 "Nely"
Hi @culmat and @Brenzikofer

Nely is already a member of our team and wants to become a member of the Verein also. So we can skip all the administrative stuff and just need another ✅  (because she already has mine 😄 )

FYI: @nelyy

[2017-08-29 09:26] Brenzikofer commented on #45
✅

[2017-08-29 14:33] #45 closed, assigned to culmat, teddybeaker, Brenzikofer

[2017-08-30 04:44] teddybeaker commented on #43
checked some files on the lower levels and the permission seems to propagate.

[2017-08-30 04:44] #43 closed, assigned to culmat, teddybeaker

[2017-08-30 08:52] Brenzikofer commented on #40
We have 36 Registrations now.
We could have a talk about the possibilites to check registration, although I think this would be to much of an effort.... Easier just to give the numbers on  a eekly basis...

[2017-08-30 13:24] mabrimo commented on #34
- wir sollten die Pro und Cons abwägen, die Versicherung bei der Basler abzuschliessen, Pro ist sicherlich, dass wir Chancen auf Rabatt hätten und hohe Kulanz im Schadenfall erwarten können. Sollte es zum Härtefall kommen stehen aber im schlimmsten Fall indirekt Basler gegen Basler vor Gericht...

- ggf. lohnt sich eine Jahresvereinsversicherung (im Vergleich zu einer Eventversicherung), da unser

[2017-09-01 10:40] schmidchr commented on #39
generated GoogleDoc "Announcement_tracking" to keep track of sent announcements of BaselHack 2017 event
→ to minimize ‚unprofessional‘, widely divergent announcements from multiple contact persons to identical recipients

[2017-09-04 05:29] mayvi commented on #42
Bisherige Anfragen und Antworten
- Zentrale Informatik BL: Absage
- Amt für Informatik SO: Antwort ausstehend
- Swisscom: Absage
- Post: Antwort Absage
- UniBasel: Interesse da, Antwort ausstehend --> Update: Eher interessiert an Teilnahme, nicht als Datengeber
- Trivadis: Interesse da, Antwort ausstehend

[2017-09-04 13:23] teddybeaker opened #46 "Fix e-mail issue"
Some E-Mails to info@baselhack.ch get rejected.

[2017-09-04 14:20] teddybeaker opened #47 "Availabilty Network"
- FHNW hat ein Wartungsfenster an dem Wochenende. Abklären, ob das nach 18Uhr am Sonntag geht.
- Kann man sich mit einem Handy mit mehreren Geräten einloggen?

[2017-09-04 14:48] teddybeaker commented on #27
Kanton Baselland ist bereit, den Anlass zu sponsern. @Brenzikofer: anfragen, ob das auch ok ist, wenn der Pre-Event am 20.10. stattfindet.

[2017-09-04 15:13] teddybeaker commented on #40
We can also ask Nadine Bailleux

[2017-09-04 15:13] #40 closed, assigned to Brenzikofer

[2017-09-04 15:15] #7 closed, assigned to culmat

[2017-09-04 15:16] #20 closed, assigned to mabrimo

[2017-09-04 15:20] teddybeaker commented on #34
Brauchen wir nicht, da Schäden an Infrastruktur/Gebäuden meist sowieso ausgeschlossen wird. Personenunfälle sind über die Versicherung der Teilnehmer abgedeckt.

[2017-09-04 15:20] #34 closed, assigned to OliverFritsch

[2017-09-04 15:41] teddybeaker opened #48 "Brainstorming Topic"
Sebastian und Oliver von smartgate dazunehmen

[2017-09-04 15:44] teddybeaker opened #49 "Unterlagen Hackathon"
-> Oliver Reist

[2017-09-04 16:02] jjerlich commented on #4
Ich habe keinen Zugang zu den beiden Accounts

[2017-09-04 16:50] teddybeaker commented on #44
@StanBarrows, @genusshaus : habe euch folgendermassen erfasst:
- github (müsst ihr noch bestätigen)
- Slack
- GoogleDrive
- Mailverteiler (team@baselhack.ch)

@culmat / @Brenzikofer : bräuchte noch ein OK von einem von euch für den Mitgliederantrag

[2017-09-04 16:58] teddybeaker commented on #4
@lisaandrea : kannst du Jutta als Admin freischalten?

[2017-09-04 17:00] teddybeaker commented on #46
seems to be content based (550 This message contains malware (Heuristics.Phishing.Email.SpoofedDomain), link for payment

[2017-09-04 17:00] #46 closed, assigned to teddybeaker

[2017-09-04 18:30] jjerlich commented on #4
Bitte alle Account Daten im GoogleDrive Accounts dokumentieren.

[2017-09-04 20:41] schmidchr commented on #48
etwas 'brainstorm' zu diesem GoogleDoc hinzugefügt:
https://docs.google.com/document/d/1dIyqc_vnjM2LXwDOuPZACv4o1mR27DaLyCJkj7SQvxg

[2017-09-05 05:56] lisaandrea commented on #4
@jjerlich Diese sind dokumentiert. Ich kann dich nicht "als Freund hinzufügen", um dich als Admin freizuschalten müssten wir Facebook-Freunde sein. Kannst du mich adden? "Lisa-Andrea Hinterberger"

[2017-09-06 08:47] schmidchr opened #50 "language requirements at BaselHack event?"
I can not find any rules on this, in my understanding the BaselHack event will be both in English and in German, with bi-lingual documents for the participants.
Do the participants have the choice to give their pitch and final presentations in either language?
Consequently a requirement for the members of the jury is to be able to evaluate projects in both languages.

[2017-09-10 16:15] schmidchr commented on #37
@Brenzikofer : hints for jury members? to obtain some diversity in specializations & gender! see table in GoogleDoc
https://docs.google.com/document/d/1Ux93784oH4tT1mD9iUcaFjRFW4qzIuwAWjLSnFsepn0/edit#

@culmat : any updates for the jury member(s) from Baloise? Ideally also available to share some experience from the BaloiseHack.

@mayvi : any news concerning your invitation to the jury?

[2017-09-18 09:52] schmidchr commented on #25
'Nice-to-have':  'simple' app to digitally manage the votes of the jury
- enabling rapid aggregation of scores to determine the winning project (individual votes private to jury)
- stable & open-source code

I could not find a description of such a jury functionality withing Dribdat, potential alternatives:
- AwardForce (https://www.awardforce.com/)
- weemss (https://weemss.com/awards/#features) <

[2017-09-18 14:19] teddybeaker commented on #39
@culmat : gibt es eine Möglichkeit, über BaselOne noch Leute zu erreichen?

[2017-09-18 14:26] teddybeaker opened #51 "Catering planen mit Nadine Bailleux; Verbindung herstellen: Thomas"

[2017-09-18 15:02] teddybeaker commented on #27
Kanton Baselland will sponsor the event also on the 20th of October

[2017-09-18 15:09] teddybeaker opened #52 "Awards"
- what will the prizes be
- who will get a price? do we have categories?

[2017-09-18 15:15] schmidchr commented on #37
see also issue #52 for planing of awards

[2017-09-18 15:31] andgart commented on #42
Sitzung 18.09.2017:
Daten, welche "rechtzeitig" (bis 2 Wochen vor Anlass an data@baselhack.ch) kommen, werden wir  unterstützen, dass Sie am Hack zugänglich sind. Gepitch müssen sie von den Teilnehmern werden.

[2017-09-18 15:35] schmidchr commented on #50
-> pitch and final presentations in English!

[2017-09-18 15:35] #50 closed, assigned to teddybeaker

[2017-09-18 15:45] #41 closed, assigned to culmat, OliverFritsch

[2017-09-18 15:50] teddybeaker commented on #48
contact also @Brenzikofer for infos on other suggestions

[2017-09-19 05:04] teddybeaker opened #53 "new team member (not Vereinsmember)"
after next meeting, give credentials to

Name: Christian Hauck
email: christianhauck@christianhauck.net

github: hauckch1

[2017-09-19 07:54] andgart commented on #25
Dear Oleg,

I hope you are well!

I write you about dribdat and your email from beginning of August. Jutta couldn’t attend the baselhack meeting yesterday, so I temporarely take care about this topic.

Is there an option for simply manage the votes of a jury in your app? Would it be difficult to add this?

You can contact me also on my mobile: 076 319 96 15.

Best wishes,
Andres

[2017-09-20 17:35] schmidchr commented on #48
Please fill this [doodle](https://doodle.com/poll/32a2t3pnm6e9ukwa) to determine a suitable time point for a brainstorm discussion to generate template(s) for a teaser description of projects on the [github site](https://github.com/BaselHack/BaselHack2017/wiki/Topics).

tentative agenda:
- overview on already submitted ideas for projects on a few dispersed pages:
1) 'brainstorm' on potential topic

[2017-09-21 15:53] andgart commented on #25
Dear Andres,

There is a backend for voting, but the feature was never completely developed so the code is out of the production version.

Nevertheless Dribdat helps you to put all the projects in one place, and then print out all the details on one page or generate a spreadsheet (CSV export) which you can distribute to the judges along with some scoring columns as a simple option.

Cheers,
Oleg

[2017-09-24 18:17] schmidchr commented on #48
-> the doodle converged to Mon Sep-25 at 16h
@StanBarrows : thanks for offering to organize a room at FHNW Basel - Peter-Merian (location close to Basel SBB?) => could you confirm precise directions and room number (both here and in doodle)

[2017-09-25 06:55] StanBarrows commented on #48
Good morning everyone, I reserved classrom 1.02 @ FHNW, Peter Merian-Strasse 86, 4052 Basel from 15:30 until 18:30. The room information will also be displayed on the info-screen at the building entrance. See you later

[2017-09-25 07:53] andgart commented on #42
Das Tiefbauamt hat uns darauf hingewiesen, dass es gemäss Verordnung nicht zulässig sei, den Abfallsack vor 19:00 Uhr, bzw. nach 7 Uhr auf die Strasse runter zu stellen und bittet darum, keine Applikation zu entwickeln, die dieser Verordnung entgegensprechen würde.

Sonnige Grüsse
Sabine Schneeberger

[2017-09-25 08:01] andgart commented on #42
[Daten data driven challanges rev 20170925.pdf](https://github.com/BaselHack/verein/files/1328658/Daten.data.driven.challanges.rev.20170925.pdf)

[2017-09-25 11:21] andgart commented on #48
Sabine Schneeberger wird auch kommen (#42 )

[2017-09-25 18:27] schmidchr commented on #48
potential templates for topics/projects:
- "Speed-control-here": app to suggest locations of speed controls based on history of past radar measurements [Police dep BS], geolocation, fraction of speeding, incorporate feedback by inhabitants
- "nearest-free-BS-parking-space": complementing GPS navigation-app, include public parking houses [live RRS-feed, occupation history], parking fee, occupation

[2017-09-26 10:45] sabinsc commented on #42
Verkehrszählung 2016, Fussgänger, Velo, Motorisierter Individualverkehr 2016 erhalten und hochgeladen auf: https://github.com/StakaBS/BaselHack

[2017-09-27 04:54] teddybeaker opened #54 "Questionnaire"

[2017-10-02 06:34] culmat commented on #44
👍

[2017-10-02 14:16] teddybeaker commented on #54
https://baselhack.typeform.com/to/BCJ5ah

[2017-10-02 14:42] andgart commented on #48
meeting 02.10.2017 feedback: only take 1 and present this nice:

"nearest-free-BS-parking-space": complementing GPS navigation-app, include public parking houses [live RRS-feed, occupation history], parking fee, occupation sensors "Blaue Zone", ...

[2017-10-02 15:14] andgart commented on #25
meeting 2.10.2017 - decision was made not to use a management system

[2017-10-02 15:14] #25 closed, assigned to StanBarrows, andgart, schmidchr, jjerlich

[2017-10-03 10:26] schmidchr commented on #37
@JJatsch : thanks for the additions to the draft for evaluation criteria: https://docs.google.com/document/d/1F8OO1vJ2NcgjGYBsoviIWYS1c2sz-ZakBJSUlm8VhFs/edit#

-> we will move on to paper-based evaluation sheets

any additional hints for jury members? to obtain some diversity in specializations & gender! jury member from Baloise? Ideally also available to share some experience from the BaloiseHac

[2017-10-03 15:12] teddybeaker commented on #44
@StanBarrows , @genusshaus : so, jetzt seid ihr auch Vereinsmitglieder 😄 Den Mitgliederbeitrag von 1CHF könnt ihr entweder überweisen (CH77 0076 9430 6005 0200 1) oder @culmat in bar geben.

[2017-10-03 15:12] #44 closed, assigned to culmat, teddybeaker, Brenzikofer

[2017-10-03 15:15] teddybeaker commented on #53
done

[2017-10-03 15:15] #53 closed, assigned to teddybeaker

[2017-10-04 05:27] teddybeaker opened #55 "Feedback Questionnaire - after the Hackathon"
# Questions for participants (-> survey):
- how did you hear about baselhack?
- what were your expectations?
- were your expectations met?
- what went well?
- where/what can we improve?
- what did you learn?
- what was the biggest challenge for you?
- was there anything unique about the Baselhack (in case you participated in other ones before)?

- how did you like the location?
- what do you think

[2017-10-04 10:29] schmidchr commented on #48
@culmat @JJatsch : there is a project proposal for an implementation of blockchains for applications in SME (owner registry, documentation in logistics, ...). We noticed an involvement of Baloise in the upcoming [blockchaincompetition.ch]( https://www.blockchaincompetition.ch) in November in Zug. <br> => Do you know of participants, or members of the BaselHack team with corresponding skills, that

[2017-10-09 12:52] #54 closed, assigned to teddybeaker

[2017-10-09 12:53] teddybeaker commented on #27
Raum ist reserviert, Einladungen versendet

[2017-10-09 12:53] #27 closed, assigned to Brenzikofer

[2017-10-09 12:54] teddybeaker commented on #33
E-Mail was sent to participants

[2017-10-09 12:54] #33 closed, assigned to mabrimo, mayvi

[2017-10-10 05:05] teddybeaker opened #56 "contact participants and collect additional information"
Dear BaselHack-participants

Thanks for your registration - it's great to have you on board of the first BaselHack ever.

In order to run the actual event as smooth as possible we have a few questions and important announcements for you.

We want to get to know our folks a little bit better. So please complete this form as soon as possible: https://baselhack.typeform.com/to/BCJ5ah

We are giving y

[2017-10-10 05:06] teddybeaker commented on #56
Mail sent on October 5th to 83 participants from event@baselhack.ch

[2017-10-10 05:07] teddybeaker commented on #56
Resent mail on October 10th to the same 83 participants from stefani.gerber@bluesky-it.ch

_**Disclaimer**: we already sent this e-mail last week but got the feedback that it did end up in quite a few spam folders. Therefore, we resend it from a different address and hope to reach all of you this way. We apologize for the inconvenience._

[2017-10-10 05:09] teddybeaker commented on #56
@mabrimo I'll track when I sent what to whom and when i merge the typeform-answers into the excel here

[2017-10-10 11:49] hauckch1 opened #57 "buttons"
Create buttons:

print on paper:
- I use 2 different styles, trying to stay on brand:
- - with the Baselhack 217 logo, color 14FFF2
- - with the Baselhack logo, I deleted the "2017", color FFFD00 (yellow)
we might possibly use the yellow ones for the baselhack orga people

press the buttons:
not yet done. Will make a first set of 12 pins and 12 magnets, bring to a meeting.

[2017-10-11 07:41] stupas opened #58 "member"
name: Pascal Stucki
email: pascal.stucki@bs.ch
username: stupas

[2017-10-11 09:20] schmidchr commented on #48
@andgart @culmat : put online a teaser  description:
https://github.com/BaselHack/BaselHack2017/wiki/Topics
-> feel free to modify / improve; I am personally very rarely concerned with car parking in BS :)

[2017-10-11 11:49] teddybeaker commented on #48
great, thanks @schmidchr

[2017-10-13 08:22] culmat commented on #58
😃 👍

[2017-10-14 06:06] schmidchr commented on #37
@culmat @teddybeaker :
Is it feasible to ask jury members (and coaches) to fill a brief description of their person on a corresponding wiki page on https://github.com/BaselHack/BaselHack2017/wiki/Jury-members-BaselHack2017, and then eventually transfer the content to a static website https://baselhack.ch/

[2017-10-14 06:07] schmidchr commented on #37
@JJatsch : any updates on the name of the jury member from Baloise?

[2017-10-16 09:42] JJatsch commented on #37
@schmidchr no, not yet.

[2017-10-16 12:50] teddybeaker commented on #37
@schmidchr : I could help with asking the people and with putting the content onto the static website (baselhack.ch), or linking from there to the github, whichever is easier.

[2017-10-16 14:29] andgart commented on #42
[Datenbesprechung 20171016.pdf](https://github.com/BaselHack/verein/files/1387790/Datenbesprechung.20171016.pdf)

[2017-10-16 14:29] #42 closed, assigned to andgart, mayvi, OliverFritsch

[2017-10-16 14:39] teddybeaker opened #59 "organize tables"
Festbänke, maybe ask ICT-Scouts?

[2017-10-16 14:50] teddybeaker opened #60 "cheat-sheet for staff"
- emergency numbers (FHNW etc.)
- times
- phone list
- Einsatzplan
- explanations (e.g. vests)

[2017-10-16 18:56] schmidchr commented on #60
FYI, quite extensive general guide for hackathons:<br>
https://hackathon.guide/
=> to me it seems like we are mostly on track, possibly this guide hints for a few points overlooked so far? infrastructures @mabrimo

[2017-10-16 20:21] schmidchr opened #61 "template for repository"
generated a template for the repositories the participants should open:
https://github.com/BaselHack
-> please let me know if the descriptions are clear both for github starters and for experienced users of git on the commandline? Feel free to improve by directly modify the template.

[2017-10-17 05:03] schmidchr commented on #61
@StanBarrows : could you verify the available connection type(s) of the audiovisual equipment (HDMI, VGA, ..) for the presentations, if on the premises for checking the plugs for the power lines? Thanks

[2017-10-17 05:14] teddybeaker commented on #56
sent out 9 mails on October 11th and 8 on October 13th.

[2017-10-17 08:46] StanBarrows commented on #61
@schmidchr sure! Will be there on Thursday.

[2017-10-17 10:19] schmidchr commented on #56
On 2017-10-16 19:23, teddybeaker wrote:
"@schmidchr: I talked about the "My idea for the BaselHack (Optional)" column. If you can follow up on some of the promising entries there that would be great."<br>
-> thanks for the Excel table, I will sent a message to the (few!) participants with an entry in column 10, to point them for a preliminary teaser description to be entered to:
https://github.com

[2017-10-17 10:22] schmidchr commented on #56
@hauckch1
I think you proposed to generate a word cloud from the keywords submitted by the registered. Attached a raw extract of the column with the skills:
[skills-word_Cloud.txt](https://github.com/BaselHack/verein/files/1390671/skills-word_Cloud.txt)
-> could you give a shot to create a corresponding graphic? thanks!

[2017-10-17 14:03] teddybeaker commented on #56
sent out the following reminder to 83 participants (those registered before October 13th)

Dear BaselHack-participants

Our Pre-Event will take place this friday, October 20th. It is an opportunity to meet other participants beforehand and talk about topics for the BaselHack. If you'd like to participate, register here: https://www.baselarea.swiss/baselarea-swiss/channels/innovation-events/2017/10

[2017-10-18 05:12] teddybeaker commented on #56
sent out 2 mails to newly registered participants on the 17th.

[2017-10-18 05:21] teddybeaker commented on #58
👍
added to team

[2017-10-18 05:21] #58 closed, assigned to teddybeaker

[2017-10-18 07:27] schmidchr commented on #56
@teddybeaker : how do you handle 'participants' with specific roles (Orgateam, jury, coaches, sponsors, ..), do you require lists of these, in which format?
-> For batch printing, food, seating, general info, ... it may be easier to have them included in a general participant list, yet I noticed there are still overlaps that we formally excluded (registered participant AND jury, ..)

[2017-10-18 17:18] schmidchr opened #62 "slack channel for coaches"
I have created a #coaches channel on our slack site with the intention to propose this to the participants as an initial contact to coaches. For this we will need to ask the participants and coaches to join the slack team.
Two questions:
1) does anybody of you know how to find/generate a URL, with which interested participants and coaches can join our Slack team site?
2) Do we need to mask/delete

[2017-10-18 21:52] andgart commented on #62
1. see https://get.slack.help/hc/en-us/articles/212675257-Join-a-Slack-workspace for different ways to get invited -> depending on strategy how to use slack during the hack
2. imho to complicated and not needed

[2017-10-19 05:09] teddybeaker commented on #56
@mabrimo: does the event-team have any preferences for handling these cases?

[2017-10-19 11:28] mayvi commented on #52
Thomas Berger has confirmed that Basel-Stadt (ZID) will contribute CHF 300 as Pro Innerstadt vouchers as Award for the winning Team.

[2017-10-19 11:51] schmidchr commented on #56
sent two mails from jury-admin@baselhack.ch:
1) invitation to eight participants (in BCC) having submitted an idea with their registration -> encourage to further develop to pitch presentation
2) similar invitation to submitter of [blockchain project](https://github.com/BaselHack/BaselHack2017/wiki/Topics) to further develop to pitch presentation

[2017-10-20 06:36] teddybeaker commented on #62
2. 👍 , I checked what we have in the general channel and I don't mind if anyone reads that

[2017-10-20 08:13] schmidchr commented on #52
thank you to @mayvi !
request for other opinions: in my view, a monetary price for the winning team is expected to be rather symbolic, yet CHF 300 divided by ~8 member (eg. for a team dinner) might not allow for a too generous meal, ie the winners might be required to complement?
Any options to top-up from our general budget, eg double the sum?

[2017-10-20 08:13] schmidchr commented on #52
@hauckch1 : you offered to produce customized buttons #57
How about a button "I am a proud finisher of the BaselHack2017" or similar, inspired by marathon sports events?

[2017-10-20 08:37] hauckch1 commented on #57
The buttons that I can make are too small, 2 cm useable diameter only, too much text will not be readable.
I'll bring some to the pre-event later today.

sidenote: had to make the bluegreen color lighter, color calibration is not easy, background was too dark, text was hard to read.

[2017-10-20 08:38] schmidchr commented on #62
that was quick, so I assume we can invite on opt-in basis (to be tested!)

-------- Forwarded Message --------
Subject: 	Re: URL for joining workspace
Date: 	Fri, 20 Oct 2017 08:20:16 +0000
From: 	Nicholas Deary (Slack) <feedback@slack.zendesk.com>
Reply-To: 	Slack <feedback+id1517983@slack.zendesk.com>

\# Please type your reply above this line \#
On Oct 20, 1:20 AM PDT, Nicholas Deary (Slack) wr

[2017-10-20 08:38] #62 closed, assigned to teddybeaker, juengls, andgart

[2017-10-20 08:41] hauckch1 commented on #61
a coach for git / github would be nice https://github.com/BaselHack/BaselHack2017/wiki/Coaching

[2017-10-20 08:55] schmidchr commented on #57
OK for the small size, so possibly for a button 'rewarding' those contributing to the final presentations, we could use a text "Achiever" &  Baselhack 2017 logo

[2017-10-20 09:03] hauckch1 commented on #57
I can bring the machine to the event and then we "hack" it on site ;-)

[2017-10-20 09:07] hauckch1 commented on #52
@schmid - we can do (design, create) that also on short notice - just has to fit to the small size.

[2017-10-20 09:11] schmidchr commented on #61
@hauckch1 some coaches agreed in recent exchanges to coach also on less spectacular 'basic' skills like usage of Github. I will ask all of them to list this also on the coach wiki page

[2017-10-20 10:22] hauckch1 commented on #56
While working on the wordcloud.

@teddybeaker @schmidchr

I discovered this content, which I interpret not as available expertise and background, but it could be a pitch?

"Application for iphone/android to timeline baby development milestones (photos and videos). Personalize the photos and videos by adding an icon of the specific milestone card (32 different milestone cards). Create a priceless v

[2017-10-20 11:08] hauckch1 commented on #56
non-"Wordcloud" results, but simple list

**approach:**
I tried to use Openrefine, does not make sense.
Went to manual process: copy to Excel, normalize manually with copy/paste and retyping, sort alphabetically, count.
Thus it is some "manual" clustering, but no real semantics behind, no categorization. I did not try to put related items into single buckets, therefore, there were many single item

[2017-10-20 12:49] schmidchr commented on #56
@hauckch1 : thank for highlighting this description, where did you discovered this?
If I remember correctly, a very similar description was included in the table with the registration info, and the submitter is included in the recipients of my message of Oct-19th encouraging to prepare a pitch presentation.

[2017-10-20 13:04] schmidchr commented on #56
@hauckch1 : thank you for creating the frequency table. I imagined to create a simple wordcloud, without any semantics, clustering, ... It is obvious that the data set is relatively small (by far not all registrations included keywords ...), with a large number of unique occurrences, typos ... <br>
Yet I reasoned that the few high frequent terms (java, ...) could visually display a (minor) focus i

[2017-10-20 13:17] schmidchr commented on #62
Invite link for baselhack workspace
https://join.slack.com/t/baselhack/shared_invite/enQtMjU4Nzc1ODA4MjQwLTgzNDhlZmYxZWJiNTA2NWY2ZjY1MDkwNDYwMzhlZjBiN2RjMmEzODkwOWQ3YmM5NTI5ZDYwNTcwNGY4OWQ4YjY

FYI: For security, invite links will expire and can be used by up to 1000 people. If you need to, you can get a new link.

[2017-10-20 13:19] hauckch1 commented on #56
I used https://www.jasondavies.com/wordcloud/ to create something (attached), will also print it and bring with me later today.
![baselhack_wordcloud](https://user-images.githubusercontent.com/8237033/31822720-fca1bb9e-b5a9-11e7-9bca-3ca563c2a189.gif)

[2017-10-20 13:59] teddybeaker commented on #56
very cool! I also added it to the slides for today

[2017-10-20 14:13] schmidchr commented on #56
Perfect, exactly what I had in mind :)
FYI, unfortunately I can not join tonight, have fun!

[2017-10-23 11:56] teddybeaker commented on #4
@jjerlich: kannst du dich mit "Lisa-Andrea Hinterberger" befreunden auf Facebook, damit sie dich auch als Admin freischalten kann? Merci

[2017-10-23 12:51] teddybeaker commented on #49
too late now

[2017-10-23 12:51] #49 closed

[2017-10-23 13:11] teddybeaker commented on #56
@schmidchr: I added jury and coaching members to our general participant document, but on separate tabs. @lisaandrea will start printing the name tags soon.

[2017-10-23 18:30] culmat opened #63 "Use http://gitter.im instead of slack?"
Evaluate gitter as a slack alternative

Pro
- one one account is needed (gittter allows to log in with github)

[2017-10-24 06:30] teddybeaker commented on #52
@mayvi : could you organize another 200CHF in Pro-Innenstadt-Gutscheinen that BaselHack will pay for? We discussed this yesterday after you where gone.

[2017-10-24 14:55] schmidchr commented on #63
Just to make sure, the label '2018' indicates this evaluation should be done for the prospective 2018 edition of BaselHack?

[2017-10-24 14:58] schmidchr commented on #61
@arinnjay I simplified the template repository and its description, including a mini-tutorial. Feel free to test and comment :)

[2017-10-24 15:30] jjerlich commented on #4
Erledigt, danke.
Twitter wäre noch, funktioniert jetzt schon sehr gut. Danke an Lisa-Andrea Hinterberger.

[2017-10-24 15:30] #4 closed, assigned to lisaandrea

[2017-10-24 15:58] teddybeaker commented on #56
sent out the following reminder to 95 participants

Dear BaselHack-participants

Only four nights' sleep and the BaselHack will begin!

We're still busy getting the last details ready. We'll add additional information to  https://github.com/BaselHack/BaselHack2017/wiki/Infos-for-Participants as we go. So please check it for updates now and then.

One important detail regarding the **pitches**:
- I

[2017-10-26 11:46] teddybeaker opened #64 "Move Webhosting"
Currently, we use a shared hosting belonging to me. This was fine for the first year but has to change because:
- currently, I'm the only person having admin access to e-mails, domain, webhosting etc.
- also, we have an issue that mails sent from baselhack.ch-addresses are regarded as spam by google. We'd have to check if that can be fixed or if we need to find another hoster.

**Tasks**:
- before

[2017-10-26 11:58] teddybeaker commented on #60
started on https://github.com/BaselHack/verein/wiki/Infos-for-Staff

[2017-10-27 12:28] teddybeaker opened #65 "cut video material"
@hauckch1: I assigned this to you because you said you might know someone (not because you'll have to do it :) )
@jjerlich: if I remember correctly you suggested to work on the screenplay

[2017-10-27 12:38] hauckch1 commented on #65
approaches:
- I contacted her, no reply yet
- we could start there, on-site, locally (simple cuts and edits).

[2017-10-28 10:09] teddybeaker opened #66 "Organize retro"
invite team for retro

Invite other collaborators to party:
- Nadine Bailleux (Basel Area Swiss)
- Françoise Payot (FHNW)
- Valerie Can

[2017-10-28 14:51] schmidchr opened #67 "project repos to fork"
pitch01: Beerveloppers merging multiple repos
pitch02: await merging of multiple repos (https://github.com/blink-mobility)
pitch14: (mysideeffect)
- pitch04: merging of multiple repos by Sebastian
- pitch13: rename from bvbrtrc by Matthias

[2017-10-29 04:36] teddybeaker opened #68 "RoadShows for Sponsors"
Basler, Adobe, Bluesky, FHNW, Actemium, BaselArea Swiss, Smart Regio Basel and Standortförderung Baselland do have road shows in their package.

- contact, thank for their support and ask if they'd like to have the road show
- setup a date
- prepare content
- do road show

[2017-10-29 04:38] teddybeaker commented on #12
can be closed once all payments arrived

[2017-10-29 04:38] #10 closed, assigned to mabrimo

[2017-10-29 04:39] #28 closed, assigned to teddybeaker

[2017-10-29 04:39] #47 closed, assigned to OliverFritsch

[2017-10-29 04:40] #48 closed, assigned to culmat, StanBarrows, andgart, schmidchr

[2017-10-29 04:40] #51 closed, assigned to Brenzikofer, mabrimo, OliverFritsch

[2017-10-29 04:40] #56 closed, assigned to teddybeaker

[2017-10-29 04:41] teddybeaker commented on #59
rented from Rupp (along with the drinks provided)

[2017-10-29 04:41] #59 closed, assigned to michelpfirter

[2017-10-29 04:41] #60 closed, assigned to teddybeaker

[2017-10-29 04:42] #61 closed, assigned to culmat, StanBarrows

[2017-10-29 05:24] teddybeaker commented on #55
Hi @jjerlich, thanks for adding questions. I built the form (https://baselhack.typeform.com/to/OD48ne), had to cram in the questions a bit because the free typeform only allows for 10 questions (and the payed version costs 25€ per month but has to be bought for 1 year -> 300€). Feel free to edit.

[2017-10-29 19:40] #67 closed, assigned to schmidchr

[2017-10-29 19:50] teddybeaker commented on #52
participants from the first three teams were given
- a certificate each
- a book from FHNW each
teams were given
- a bronze/silver/golden keyboard
the winning team got pro-innenstadt Gutscheine

Tip for next time:
- prepare certificates with names on Sunday, just put in the rank in the end.

[2017-10-29 19:50] #52 closed, assigned to StanBarrows, schmidchr, jjerlich

[2017-10-30 08:40] #37 closed, assigned to schmidchr

[2017-10-30 11:06] schmidchr commented on #65
I do know Christian Heuss (former head science coverage at SRF). He runs in part-time an independent communication office (website not really informative: https://www.smartscience.ch/).
If we clearly define the collected materials (footage, pictures, ....) and our aims and expectations, time lines, ..., I can contact him asking for a quote?

[2017-10-30 11:32] teddybeaker commented on #66
Will take place on 14th of November

[2017-10-30 11:46] hauckch1 commented on #65
my colleague Georgina came by to the end of the Hackaton, I introduced her to @jjerlich , and we discussed several options.

I don't think that we are in a position to really clearly define the specifications well enough for a solid quote.

[2017-10-30 11:51] hauckch1 commented on #65
The videos are on my private server:
http://freepeer.synology.me/~freepeer03/

I cut them into separate video files, and reduced the resolution (and thereby file size, still good enough):
the 1-minute pitches
the 5-minute presentations
the 6-minute award finale

The full high-quality files are also hosted there, but not linked.

Please check if it works for you - I'm using the html5 video tag, whi

[2017-10-30 20:02] culmat commented on #65
Can you post them on https://www.youtube.com/channel/UCat5BvUrfV7am60pLpuy8oQ   ?
If not can you sent me the links to the high quality videos, so I can upload them to youtube?

[2017-10-30 20:04] #57 closed, assigned to hauckch1

[2017-10-30 20:39] schmidchr commented on #65
@hauckch1
What I meant with "our expectations on the processed video material": in my limited experience with PR specialists, I learned that they always want to know "which general message to which target public"?
-> successful first edition of BaselHack, fun and 'agile' coming together of specialists from different domains, as unique advantage of a hackathon format,
-> information for our present

[2017-10-30 20:43] hauckch1 commented on #65
@culmat -

preferred option: can I upload to the channel as well? how?
alternative: file structure goes like this (right mouse click, save locally):
http://freepeer.synology.me/~freepeer03/data/20171028_29/baselhack2017_01_pi.m4v
http://freepeer.synology.me/~freepeer03/data/20171028_29/baselhack2017_01_pr.m4v
http://freepeer.synology.me/~freepeer03/data/20171028_29/baselhack2017_02_pi.m4v
http://f

[2017-10-30 20:50] hauckch1 commented on #65
@schmidchr - indeed, and: that's probably very much our task, to come to grips what we want and how, in general? that what I meant by "specifications".

[2017-10-30 20:56] schmidchr commented on #65
OK, I guess there are better chat systems than the commenting in github :)
-> so we are on the same page, and "specifications" of technical nature (length, resolution, ...) can be derived from the message and the channel.

[2017-10-30 20:57] schmidchr commented on #65
Just in case the feedback is still required, I was able to view the videos on the synology with reasonable quality. I agree with the suggestion to (also) use youtube, in my understanding the current version of
https://github.com/BaselHack/BaselHack2017/wiki/Reporting
allows only users of facebook and/or twitter to visualize the videos?
Nevertheless a good start, thanks to @jjerlich and @hauckch1

[2017-10-30 21:07] hauckch1 commented on #65
the Synology NAS is just my pet project. Agreed to put them on Youtube, I can do it if I have account and password, else someone else can grab from Synology (links above) and do it.
My NAS is accessible for everyone - if I have it switched on ;-) And of course, if one knows the links. Youtube is better for sharing, and for persistence.

[2017-10-31 06:18] teddybeaker opened #69 "Setup way for sending newsletter"
- evaluate a tool
- configure it (make sure people can unsubscribe!)
- test it with team members (make sure our e-mails don't end up in spam filters)
- initial import:
  - participants from the hackathon
  - people registered to stay updated (https://baselhack.typeform.com/to/GqbMkw)

[2017-10-31 09:21] teddybeaker commented on #66
@michelpfirter will moderate retro

[2017-10-31 12:24] culmat commented on #65
@hauckch1 have added you to our Google Brand Account. You should now be able to upload videos to the youtube channel?
https://www.youtube.com/channel/UCat5BvUrfV7am60pLpuy8oQ
https://aboutme.google.com/b/102925923083524310072/
https://myaccount.google.com/brandaccounts/102925923083524310072/view

[2017-10-31 12:33] hauckch1 commented on #65
yes, will do, in the evening.
Cheers
/chris

On Tue, Oct 31, 2017 at 1:24 PM, Matthias Cullmann <notifications@github.com

[2017-10-31 13:20] schmidchr commented on #65
@StanBarrows  is there any footage available from the GoPro recordings?
            potential highlights:
                Sa morning: the 'spontaneous' lineup of the pitch presenters
                Sa evening: the movement induced by the 'pizza is ready' announcement

[2017-10-31 13:24] schmidchr commented on #65
Question on options to archive the full high-quality files on a location with shared access?
What is the total volume of all these files, what are the limits of our accounts (github, google drive, ...)?

[2017-10-31 16:48] jjerlich commented on #65
Group descriptions to be found on https://github.com/BaselHack/BaselHack2017/wiki/Reporting

[2017-10-31 17:14] teddybeaker commented on #55
Sent to all registered participants on October 31st.

Subject: BaselHack 2017: feedback and further support

Dear BaselHack-participants

The first BaselHack is over. We had a great time and I hope you did too. To know what worked well and what we can improve in the future, we'd like to get your **feedback**: https://baselhack.typeform.com/to/OD48ne

**Possible support for further development of p

[2017-10-31 18:01] hauckch1 commented on #65
Our Youtube channel: https://www.youtube.com/channel/UCat5BvUrfV7am60pLpuy8oQ
Playlist BaselHack2017 pitches https://www.youtube.com/watch?v=xf7pr76mSH4&list=PLiQSCdfYuZ8b62bADeyyAD7IQqYZUqgrx
Playlist BaselHack2017 presentations https://www.youtube.com/watch?v=IlrkizWK9Ks&list=PLiQSCdfYuZ8bWPfWyo2PBGpN5NJLMphBH

There are still things that might be improved, but I am not sure:
- add the team/proj

[2017-11-01 08:02] culmat commented on #68
Baloise could be 09.11. We have an unconference day on that date. This is a perfect platform.

[2017-11-01 10:59] gbwi commented on #66
Do we have a location already?
I wanted to provide location at Adobe but we will have an internal hackathon :-D
...hence no bigger room available.

[2017-11-01 11:50] michelpfirter commented on #66
@gbwi
- no, not as far as i know ... thus, go ahead
- As for the retro i was asked to moderate, are there enough free walls available to use, as well as a flip chart?

@teddybeaker did we discuss how long the retro should last - i think 1h is minimum

[2017-11-01 13:34] gbwi commented on #66
@michelpfirter
Sorry...might not have been clear enough.
For November 14th and that whole week the big rooms at our office are blocked for 2 internal hackathons so I will NOT be able to provide a room/apero location.

[2017-11-02 06:09] teddybeaker commented on #66
@gbwi , @michelpfirter : as far as I remember, @Brenzikofer offered to host at BaselArea.swiss. I guess he didn't get around sending the invitations because he was still busy with the press release.

@michelpfirter: we didn't discuss the time, but I'd go for 1.5h. We are a group that loves to discuss :smile: 💬  Apart from flipcharts/walls, do we also need green and red cards to write on and cluste

[2017-11-02 06:11] teddybeaker commented on #55
If we want to look at the participant feedback at our retro (https://github.com/BaselHack/verein/issues/66) as well, someone other than me has to extract the responses. Account data is at the usual place.

[2017-11-02 10:52] Brenzikofer commented on #66
Dear all,
Yes BaselArea.swiss can host the apero. But 14th is not a good date for as I have a big conference to moderatie the next day…
So, either we find another date – Thursday of that week. Or you can do it then without me in the rooms of BAS …
Sorry for my late response – very busy times
Cheers Thomas

Von: Stefani Gerber [mailto:notifications@github.com]
Gesendet: Donnerstag, 2. November 2017

[2017-11-02 11:42] JJatsch commented on #55
I can do extraction and analysis of responses.

[2017-11-02 11:44] JJatsch opened #70 "Analyse feedback survey"
Extract results, analyse and make available for retro.

[2017-11-02 16:02] teddybeaker commented on #66
There are only 7 people available on that Thursday (opposed to the 16 for the Tuesday). No other date comes close in numbers of people available to attend so I suggest to keep the 14th. I'll check if we could host.

[2017-11-02 16:09] Brenzikofer commented on #66
No worries,
We can  host at baselArea.swiss – we just have to decide on how to close the rooms etc.
What time do we start ?
Cheers Thomas

Von: Stefani Gerber [mailto:notifications@github.com]
Gesendet: Donnerstag, 2. November 2017 17:02
An: BaselHack/verein <verein@noreply.github.com>
Cc: Thomas Brenzikofer <thomas.brenzikofer@baselarea.swiss>; Mention <mention@noreply.github.com>
Betreff: Re: [B

[2017-11-02 16:28] teddybeaker commented on #66
after some phone calls: Bluesky will host retro and organize the apero. Invitation will follow tomorrow by @domberg

[2017-11-02 16:49] domberg commented on #66
We are happy to organize it :)
![bottish-basel](https://user-images.githubusercontent.com/32460137/32338794-1c09999c-bff6-11e7-9258-2f3a9aade5d6.jpg)
more infos tomorrow...

[2017-11-03 08:58] schmidchr commented on #63
my summary for an analysis on the usefulness and the usage of Slack:

We set up the BaselHack workspace on Slack with the initial intention to facilitate the communication within the organization committee. For this purpose, the usage was moderate, exchanges took mostly place via e-mail (github issues, mailing lists on hostpoint, direct messages via private and professional accounts).

Immediately

[2017-11-03 08:59] schmidchr commented on #70
for actual usage of Slack, see #63

[2017-11-03 10:34] domberg commented on #66
Invitation sent

[2017-11-06 12:30] domberg commented on #66
Hi All,
Sorry for the confusion...
But the time for the Retro and Celebration Event is 18h - 21:30h, my mistake...
Best regards,
Dom

[2017-11-07 15:36] schmidchr commented on #66
Hi all, noticed these exchanges only now ...
@michelpfirter : Any specific reason to completely remove the previous text on<br> https://github.com/BaselHack/BaselHack2017/wiki/RETROSPECTIVE ?<br> I fully agree that the raised points could be better structured into
- "Was good -> to be repeated?" and
- "Room for improvement -> specific suggestions"
Or do you have other ideas for this? (Not sure if

[2017-11-07 15:46] schmidchr commented on #66
@domberg : updates to calendar entries might not always work as expected, FYI I received yesterday via team@baselhack.ch an update to the invitation:
Aktualisierte Einladung: Retro and Celebration BaselHack - Di 14. Nov. 2017 18:00 - **23:00**
Location: | bluesky IT-Solutions AG, Aeschenvorstadt 36, 4051 Basel, Sitzungszimmer<br>
-> I hope at least the location and the starting time are unchanged

[2017-11-07 15:57] schmidchr commented on #65
@jjerlich : not sure if the notification of modifications of 'your' wiki page works reliably?
So for your info, I added 'external' media coverage of BaselHack to
 https://github.com/BaselHack/BaselHack2017/wiki/Reporting
Please feel free to further modify and let me know if this corresponds not to your ideas :)

[2017-11-22 15:36] #66 closed, assigned to teddybeaker, michelpfirter, Brenzikofer

[2017-11-22 15:39] teddybeaker opened #71 "Mitgliederversammlung"
# Vorgängig versenden
- Protokoll der letzten Versammlung
- Jahresbericht des Vorstandes
- Jahresrechnung und Budget

# Traktanden
- Abschaffung Mitgliederbeitrag
- Mutationen Vorstand

[2017-11-24 11:27] teddybeaker opened #72 "Sponsoren informieren über Mitgliederversammlung"

[2017-11-24 12:06] teddybeaker opened #73 "Abklärung Kommunikationsstelle für 2018"
mit Jutta

[2017-11-24 12:11] teddybeaker opened #74 "Jahresbericht 2017 erstellen"
- Organisation und durchführung erster BaselHack
- pre-event und event durchgeführt
- sponsorensuche
- Anzahl Teilnehmer, Projekte

auf Webseite publizieren

[2017-11-28 15:21] #55 closed, assigned to teddybeaker, jjerlich

[2017-12-01 15:42] michelpfirter opened #75 "Use existing channels"
[see Retro 17 page](https://github.com/BaselHack/verein/wiki/Retro-baselhack-2017)

[2017-12-01 15:45] michelpfirter opened #76 "Focused Teams (Lead)"
[see Retro 17 page](https://github.com/BaselHack/verein/wiki/Retro-baselhack-2017)

[2017-12-01 15:47] michelpfirter opened #77 "Clean up github & Google Doc's"
[see Retro 17 page](https://github.com/BaselHack/verein/wiki/Retro-baselhack-2017)

[2017-12-01 15:49] michelpfirter opened #78 "Time Schedule"
[see Retro 17 page](https://github.com/BaselHack/verein/wiki/Retro-baselhack-2017)
Create a time schedule for the baselhack 2018

[2017-12-01 15:51] michelpfirter opened #79 "Keep the fire burning ... regular events ie @sponsors"
[see Retro 17 page](https://github.com/BaselHack/verein/wiki/Retro-baselhack-2017)

[2017-12-01 15:53] michelpfirter opened #80 "Strategy workshop"
[see Retro 17 page](https://github.com/BaselHack/verein/wiki/Retro-baselhack-2017)

- Vision
- Goals

Jan 18

[2017-12-01 15:54] #80 closed, assigned to mabrimo

[2018-01-03 05:59] teddybeaker commented on #74
Erstellt auf https://github.com/BaselHack/verein/wiki/Mitgliederversammlung#jahresbericht

[2018-01-03 05:59] #74 closed, assigned to teddybeaker

[2018-01-04 06:03] teddybeaker commented on #71
@culmat: "Jahresrechnung und Budget" haben wir hier auch noch als "vorgängig zu versenden" drin. Kannst du das noch machen, sobald du aus den Ferien zurück bist?

[2018-01-04 07:23] schmidchr commented on #78
thank you to @hauckch1, who already covered this issue:
https://github.com/BaselHack/verein/wiki/Draft-bits-and-pieces

[2018-01-05 16:51] domberg commented on #75
check this out https://github.com/BaselHack/verein/wiki/Contacts

[2018-01-05 16:51] domberg commented on #75
cheers

[2018-01-13 16:41] culmat commented on #71
Habe die Dokumente unter https://github.com/BaselHack/verein/wiki/Mitgliederversammlung verlinkt

[2018-01-15 05:50] teddybeaker commented on #71
merci @culmat. Habe auf GoogleDrive die Ordnerfreigabe wieder eingeschränkt (war alles offen für alle).

[2018-02-05 16:46] mabrimo opened #81 "from waffle"

[2018-02-05 17:12] michelpfirter opened #82 "Sync Meeting March"
1. Recapture waffle board
2. Updates from the teams
3. General Topics
4. Budget Topics / Review

[2018-02-05 17:13] michelpfirter opened #83 "Sync Meeting April"

[2018-02-05 17:18] michelpfirter opened #84 "Review Sponsor Packages"
does it meet the sponsors expectations

[2018-02-05 17:18] michelpfirter opened #85 "Sync with the communication team"
... to se what we need

[2018-02-05 17:19] michelpfirter opened #86 "Contact last years sponsors"

[2018-02-05 17:19] michelpfirter opened #87 "Find new sponsors"
... this applies to everyone

[2018-02-05 17:23] michelpfirter opened #88 "Transfer website to new hosting"
- find new hosting
- transfer
- do not forget emails ... aliases
- ownership should be at the society (the verein)
- ask cyon

[2018-02-05 17:24] michelpfirter opened #89 "Update the website"
- define content
- pimp the website
- sync or link w/ social media
- implement dynamic sections / areas
- english only tbd

[2018-02-05 17:26] michelpfirter opened #90 "Update social media presence"
- discuss which channels we want to use

[2018-02-05 17:28] michelpfirter opened #91 "Redefine on-boarding process"
- ticketFrog (ask owner if she wants to join)
- ti.to
- alf.io
- eventbright
- xing

[2018-02-05 17:32] michelpfirter opened #92 "Define communication strategy"
- high level
- target group
- use of s/m channels
- editorial plan

[2018-02-05 17:34] michelpfirter opened #93 "Inform PR classics"
- Prepare material and spread to:
- TV
- News papers
- Radio

[2018-02-05 17:35] michelpfirter opened #94 "MediaKit"
- define (stickers, cool T's :-) )
- provide

[2018-02-05 17:37] michelpfirter opened #95 "Check if location is available"
- 17 / 18 November 2018
- whats the max capacity of the location -> gives aimed hackers

[2018-02-05 17:38] michelpfirter opened #96 "Decide about Pre-Event"
- one or multiple

[2018-02-05 17:40] michelpfirter opened #97 "Organize Catering"
- main meals
- snacks
- drinks

[2018-02-05 17:43] michelpfirter opened #98 "Technical infrastructure"
- steckdosen
- ...

[2018-02-05 17:44] michelpfirter opened #99 "Stakeholder management"
...

[2018-02-05 17:46] michelpfirter opened #100 "find jury members"
- decide how many
- what are the tasks of a j member

[2018-02-05 17:46] michelpfirter opened #101 "define evaluation criteria for hacks"
- for the jury

[2018-02-05 17:47] michelpfirter opened #102 "Organize awards"

[2018-02-05 17:49] michelpfirter opened #103 "Define target group"
... of the participants at the hack

-> should be discussed and ok for everybody

[2018-02-05 17:50] michelpfirter opened #104 "Create and define a concept"
- do we have sponsored streams
-  ... topics
...

[2018-02-05 17:50] michelpfirter opened #105 "Organize data (providers)"

[2018-02-05 17:52] michelpfirter opened #106 "Organize coaches"
ixchelruiz@yahoo.com

[2018-02-05 17:53] michelpfirter opened #107 "Provide technical plattform for the hacks"
- define
- create handouts ....
- participant kit

[2018-02-05 17:54] michelpfirter opened #108 "What is the impact for the participants?"
- fun
- what should they learn
...

[2018-02-05 17:56] michelpfirter opened #109 "Check the balance :-)"

[2018-02-05 17:57] michelpfirter opened #110 "Find a way to reduce no-shows / kurzfristige Abmeldungen"
- ie deposit, participants get the money back after the event (ticketFrog)

[2018-02-05 17:59] michelpfirter opened #111 "Provide startup coaching"
... business angels .... for our winners and of cours all the others

[2018-02-05 18:00] michelpfirter opened #112 "Transfer bank account ownership"
... from Steffi to Dario

[2018-02-05 18:01] #81 closed, assigned to nobody

[2018-02-06 16:17] mabrimo commented on #95
E-Mail sent to Francoise Payot of HGK if we can have the location again and if it is available on the specific date

--> Event-Team from HGK will decide on it upcoming Monday 26th Feb

[2018-02-07 12:39] #71 closed, assigned to culmat, teddybeaker, Brenzikofer

[2018-02-07 12:39] #75 closed, assigned to domberg

[2018-02-07 12:40] #76 closed, assigned to nobody

[2018-02-08 15:54] StanBarrows opened #113 "Transfer E-Mail hosting"

[2018-02-18 14:14] culmat commented on #107
maybe have a look at https://github.com/loleg/dribdat

[2018-02-18 14:20] StanBarrows commented on #107
Thanks a lot! I'll have a look!

[2018-02-19 10:53] JJatsch opened #114 "Retro BaselHack bei Smart Regio"
Roadshow BaselHack bei GV Smart Regio. Ca. 18:30 Uhr am 19.03. im FluxDock.
Ansprechperson: Elias Schäfer (elias.schaefer@fluxdock.io).
Ich habe Dietrich Rordorf (Ideengeber Clockchain) angeschrieben, ob er auch ein paar Worte sagen kann.
In der Präsentation fände ich diese Struktur toll:
BaselHack: Wer steckt dahinter und warum?
BaselHack 2017: Wie war's? Sicht Veranstalter und Teilnehmer
BaselHa

[2018-02-22 08:46] culmat opened #115 "Fight spam mails"
I regularly receive spam mails via info@baselhack.ch

- does it need to be machine readable on our website (footer)
- can we filter the spam?

[2018-02-26 14:00] mayvi commented on #101
Judging criteria of other hackathons:

[**Longmont hackathon**](http://longmonthackathon.com/judging-criteria/)
10% – user experience
30% – increment/innovation
30% – impact/potential/sustainability
30% – sharing resource/collaboration

[**Open dutch hackathon**](https://dutchopenhackathon.com/p/judging)
**Viability**
Has the project a realistic chance of being implemented by partners, is the idea

[2018-02-26 16:45] mabrimo commented on #95
Good News: We can have the location again
BUT: LOCATION IS NOT AVAILABLE ON THE SPECIFIC DATE 17/18 Nov

--> What about last November weekend (24/25 Nov) or first December weekend (1/2 Dec)

[2018-03-01 11:38] andgart commented on #105
Happy to help in this issue!
(ideas: Stadt BS, integrate / support opendata.ch-Verein: their idea, give them a platform, ask them for help, etc., novartis etc.)

[2018-03-08 16:49] StanBarrows commented on #95
FHNW provisorisch Reservieren am 24/25 November. Zusätzlich Markthalle noch abklären (jeweils an beiden Weekends 17/18 & 24/25)

[2018-03-08 16:55] StanBarrows commented on #114
Gibt es hier Neuigkeiten? Wer präsentiert von den Projekten?

[2018-03-08 17:09] StanBarrows commented on #87
BLKB

[2018-03-08 17:10] StanBarrows commented on #87
Digitec (Markthalle)

[2018-03-08 17:16] StanBarrows commented on #84
Beschränkung auf die Anzahl evtl. Aufheben?

[2018-03-08 17:21] #83 closed, assigned to nobody

[2018-03-08 17:21] #82 closed, assigned to nobody

[2018-03-08 17:24] StanBarrows opened #116 "Pre-Event organisieren"
Abklärungen bezüglich dem Pre-Event

[2018-03-08 17:26] StanBarrows commented on #116
Sponsoring Event?

[2018-03-08 17:27] StanBarrows commented on #116
Joint-Venture - >SwissMadeSoftware

[2018-03-08 17:29] StanBarrows opened #117 "Sommer-Event"
Bier & ...

https://doodle.com/poll/hg8qvfrigu2yakwh

[2018-03-08 17:45] #39 closed, assigned to OliverFritsch, lisaandrea

[2018-03-08 17:45] #15 closed, assigned to Brenzikofer

[2018-03-08 17:46] #12 closed, assigned to teddybeaker

[2018-03-10 09:44] culmat commented on #113
How about https://www.fastmail.com/pricing/

[2018-03-11 09:28] culmat commented on #89
Hi, I made a proposition for a more modern look: http://test.baselhack.ch/mod/
What do you think?
You can download and play with it here http://test.baselhack.ch/mod.zip

[2018-03-11 12:16] StanBarrows commented on #89
That's looking great! I'll try to implement this =)

[2018-03-13 19:33] jjerlich commented on #114
Roland Berger ist vom Gewinnerprojekt dabei.
@StanBarrows präsentiert eure Gruppe auch?

[2018-03-13 19:35] jjerlich commented on #69
@StanBarrows will choose mailchimp, otherwise please advice of which tool to use, goal better integration with all other digital tools in use, thanks

[2018-03-14 12:46] StanBarrows commented on #114
@jjerlich Hallo Jutta, ich kann leider nicht an der Präsentation dabei sein. Kann aber gerne noch Infos zur Verfügung stellen. Liebe Grüsse Sebastian

[2018-03-14 12:46] StanBarrows commented on #69
@jjerlich I'm happy with Mailchimp =)!

[2018-03-15 16:45] mayvi commented on #116
Pre Event als Plattform für Sponsoren oder Datenbringer um Idee vorzeitig zu pitchen oder einen Themenbereich zu prägen + Insights vom letzten Jahr + Vorbereitung für Hackthon bezüglich Teambuilding und wie wird am hack gearbeitet (Slack Channel, Github) + Agenda für BaselHack vorstellen + Pre Event soll als Brücke zum Hack dienen (Vorteil, wenn man am Pre Event kommt).

--> Konzept für Pre Event

[2018-03-15 17:13] mayvi commented on #108
“BaselHack is more than a Hackathon – we connect people, take fun seriously and grow open innovation”

Ideen für Hackathon:
- Spiel (max. 1 Stunde) um Collaboration zu fördern: EscapeRoom, Postenlauf, Poker, Schach, 'Töggele', Play Station oder andere Spielconsole, Wii/Switch Game Punktestand fliesst in die Bewertung ein, Kinder in den hackathon einbeziehen --> Vivienne, Michel
- Coaches sollen si

[2018-03-15 17:18] mayvi commented on #100
- Verschiedene Kompetenzen sollen in der Jury vertreten sein.
   - wenn wir diese nicht besetzen können, nehmen wir Jury Mitglieder aus unserem Verein
- Jury soll präsenter sein und ein paar Stunden am Event dabei sein.

[2018-03-15 17:24] mayvi commented on #101
- 2 Gewinner küren:
1. für die beste Idee
2. für die beste Umsetzung (Code u. technische Lösung) --> oder das technische Konzept zur Umsetzung

- Die Bewertung wird während einer Präsentation und einem Code Review / technischem Review gemacht

Ideen für Bewertung:
x % für Präsentation
x % für technische Umsetzung

[2018-03-15 18:05] mayvi commented on #104
Ideen:
- Games einbauen für Fun/Teambuilding --> Turnier mit Wertung (siehe Impact)
   - Höchste Score gibt einen Preis

Agenda:
- (Installation, Bilder aus dem letzten Event zeigen)
- Begrüssung
- Coaches stellen sich vor
- Jury stellt sich vor
- Sponsoren stellen sich vor
- Pitchen
- Teambuilding
---
- DJ oder eine Band
- technische Gadgets ausprobieren (FHNW)
- (konstante Gaming Möglichkeiten)

[2018-03-19 11:49] sabinsc commented on #102
read this, please: http://metaodi.ch/posts/2014/01/stop-making-stupid-open-data-contests/

[2018-03-26 13:36] schmidchr commented on #108
suggestion to edit the title of this issue:
What is the impact **for** the participants?

[2018-03-26 13:48] schmidchr commented on #105
see comment by @sabinsc in issue #102 pointing to a [blog entry](http://metaodi.ch/posts/2014/01/stop-making-stupid-open-data-contests/), which questions the efficacy of hackathon competitions to promote Open Government Data (OGD)

[2018-03-26 14:06] schmidchr commented on #101
see also documents, criteria from BaselHack2017 on our Google Drive (please keep password protected): https://drive.google.com/drive/folders/0B09yKrP7j_7IR1VSWUp0eEVwZ0U?usp=sharing

[2018-04-05 14:49] #114 closed, assigned to culmat, jjerlich, JJatsch

[2018-04-05 15:57] #88 closed, assigned to StanBarrows

[2018-04-05 15:57] #64 closed, assigned to teddybeaker, StanBarrows

[2018-04-05 15:57] #115 closed, assigned to StanBarrows

[2018-04-05 15:57] #113 closed, assigned to StanBarrows

[2018-04-05 15:58] StanBarrows commented on #73
Sitzung mit Jutta, Thomas & Sebastian geplant für KW 15/16

[2018-04-05 16:15] #70 closed, assigned to dariotodaro

[2018-04-05 16:18] StanBarrows commented on #117
No Power-Point Event

[2018-04-05 16:19] StanBarrows opened #118 "Start Boost - BaselHack 2018"

[2018-04-05 16:20] StanBarrows commented on #118
29. Mai 2018

[2018-04-05 16:21] StanBarrows commented on #117
Create a Doodle

[2018-04-05 16:24] #96 closed, assigned to nobody

[2018-04-05 16:26] StanBarrows opened #119 "Logo abklären"
Get the logo in high resolution

[2018-04-05 16:26] StanBarrows commented on #119
Rolf Schaub anfragen betreffend Grafiken & Logos

[2018-04-05 16:29] #79 closed, assigned to jjerlich

[2018-04-05 16:29] #72 closed, assigned to Brenzikofer

[2018-04-05 16:29] #68 closed, assigned to culmat, teddybeaker, JJatsch

[2018-04-05 16:34] #65 closed, assigned to hauckch1, Brenzikofer, jjerlich

[2018-04-05 16:34] #63 closed, assigned to nobody

[2018-04-05 16:42] StanBarrows opened #120 "Swisscom Austausch / Daten"

[2018-04-05 16:42] StanBarrows opened #121 "Abklärung Stiftungen"

[2018-04-05 16:43] StanBarrows opened #122 "Github -> PrivatRepositories"
for 2019

[2018-04-12 15:27] mayvi commented on #102
- Konzept für Awards (Finanzierung)
  - Sponsoren für Awards kontaktieren
  - Awards selber mit Budget finanzieren?
- Wie viele Awards für die verschiedenen Ränge und/oder Disziplinen/Kategorien. --> Siehe Konzept zu Event

[2018-04-12 15:35] mayvi commented on #103
Alle sind willkommen
- Wie binden wir die verschiedenen Zielgruppen ein, Mailing listen, ...

Folgende Gruppen wollen wir spezifisch anvisieren:
- Informatiker / Software Entwickler / Nerds  --> Dominik, Vivienne
- Entwickler Hardware / Ingenieur / IoT / Robotik --> Andres, Michel
- Business, Ideenbringer / Innovatoren / Business Developer, Business Angel --> Andres, Michel, Christoph, Vivienne
-

[2018-04-12 15:35] #103 closed, assigned to nobody

[2018-04-12 16:11] #108 closed, assigned to nobody

[2018-04-12 16:25] mayvi commented on #91
Was passiert, wenn ich mich als Teilnehmer angemeldet habe:
- Prozess von der Anmeldung bis zum Hackathon

[2018-04-16 16:01] mayvi opened #123 "Organize games"
Spiel (max. 1 Stunde) um Collaboration zu fördern: EscapeRoom, Postenlauf, Poker, Schach, 'Töggele', Play Station oder andere Spielconsole, Wii/Switch Game Punktestand fliesst in die Bewertung ein, Kinder in den hackathon einbeziehen --> Vivienne, Michel

[2018-04-16 16:02] mayvi opened #124 "Define programm for Coaches at the Event"
Coaches sollen sich vorstellen und sind über einen bestimmten Kanal erreichbar (Slack, Mail, Mobile) --> tbd

[2018-04-16 16:03] mayvi opened #125 "Do something with art (atmosphere/reference to location)"
Künstlerischen Aspekt einbringen (Location, Deko, Technik etc.) --> tbd

[2018-04-16 16:04] mayvi opened #126 "Define duties for Jury members"
Jury mehr in den Event einbeziehen (Vorstellen während des Hacks und ein paar Stunden Anwesenheit sollte Pflicht sein) --> Christoph

[2018-04-16 16:05] mayvi opened #127 "Choose plattform for the event"
Plattform für während dem Hack, auf welcher man sieht, was läuft. Man sich austauschen kann. (Ideen: Twitter Channel, Oleg) #107 --> Andres

[2018-04-16 16:18] mayvi opened #128 "Target group: Informatiker / Software Entwickler / Nerds"
- Communication, stakeholder management, plan something specific at the event for this target group

[2018-04-16 16:18] mayvi opened #129 "Target group: Entwickler Hardware / Ingenieur / IoT / Robotik"
- Communication, stakeholder management, plan something specific at the event for this target group

[2018-04-16 16:19] mayvi opened #130 "Target Group: Business, Ideenbringer / Innovatoren / Business Developer, Business Angel"
- Communication, stakeholder management, plan something specific at the event for this target group

[2018-04-16 16:19] mayvi opened #131 "Target Group: Sozial/HR"
- Communication, stakeholder management, plan something specific at the event for this target group

[2018-04-16 16:20] mayvi opened #132 "Target Group: Künstler / UX / Kreative / Grafiker / Musiker"
- Communication, stakeholder management, plan something specific at the event for this target group

[2018-04-16 16:21] mayvi opened #133 "Target Group: Umland (DE, FR)"
- Communication, stakeholder management, plan something specific at the event for this target group
-> Ausbildungsinstitutionen

[2018-04-16 16:21] mayvi opened #134 "Target Group: Studenten/Lehrlinge"
- Communication, stakeholder management, plan something specific at the event for this target group
--> IT-Scouts

[2018-05-03 14:47] JJatsch commented on #86
Bis auf Adobe und Bluesky alle letztjährigen Partner und Sponsoren kontaktiert.

[2018-05-03 14:49] JJatsch commented on #86
@teddybeaker Hi Steffi, könntest du bei euch anfragen ob bluesky wieder sponsert?
Haben wir eine Mailadresse von Goran?

[2018-05-03 15:22] #77 closed, assigned to StanBarrows, dariotodaro

[2018-05-03 15:27] StanBarrows commented on #69
Mailchimp wurde eingerichte, Zugangsdaten sind auf GoogleDocs

[2018-05-03 15:28] culmat commented on #86
Baloise wird wieder Sponsor
UniBasel als Partner?

[2018-05-03 15:30] culmat commented on #86
https://docs.google.com/spreadsheets/d/1pcEedLpQcOH3sZUQ0q9FULL_vKDzfxODBKWBo_LUn84/edit#gid=0

[2018-05-03 15:36] culmat opened #135 "Partnerschaft PowerCoders?"
-> Jonas Felix

[2018-05-03 15:38] culmat commented on #110
"one click" - opt - out möglichkeit und email reminder

[2018-05-03 15:42] #69 closed, assigned to StanBarrows, jjerlich

[2018-05-03 15:46] culmat commented on #117
von info@baselhack.ch an member@baselhack.ch (vereinsmitglieder) + helfer
siehe https://drive.google.com/drive/folders/1I66C6GqjGPwaMSudDSy8hq9sssqSyX2-
https://github.com/BaselHack/verein/wiki/Team

[2018-05-03 15:50] culmat commented on #89
einzelne tasks sieher https://github.com/BaselHack/baselhack.ch/issues

[2018-05-03 15:50] #89 closed, assigned to StanBarrows, jjerlich

[2018-05-03 15:55] culmat commented on #95
Der BaselHack 2018 findet am 24 / 25 November an der FHNW Dreispitz statt.

[2018-05-03 15:55] #95 closed, assigned to mabrimo, OliverFritsch

[2018-05-04 10:09] rordi opened #136 "member"
name: Dietrich Rordorf
email: drordorf@gmail.com
username: rordi

Habe am ersten BaselHack als Teilnehmer teilgenommen und würde nun gerne auf einer anderen Ebene zum BaselHack beitragen.

Grüsse,
Didi

[2018-05-08 11:38] teddybeaker commented on #86
@JJatsch: @dariotodaro wird das bei Bluesky koordinieren/anfragen. Kannst du ihm noch Bescheid geben, was für Bedingungen/Packages angedacht sind? Merci

[2018-05-09 09:38] jjerlich commented on #116
Pre-Event Timephrame festlegen: wann soll es diesen Event geben?

[2018-06-07 15:49] #112 closed, assigned to culmat, dariotodaro

[2018-06-07 15:49] #109 closed, assigned to dariotodaro

[2018-06-07 15:50] #117 closed, assigned to culmat

[2018-06-07 15:50] #73 closed, assigned to Brenzikofer

[2018-06-07 15:51] #86 closed, assigned to nobody

[2018-06-07 15:51] culmat commented on #104
drehstühle für Jury

[2018-06-07 15:54] culmat commented on #135
- werbung bei den coders
- angebot logo aufschalten

[2018-06-07 15:55] #84 closed, assigned to nobody

[2018-06-07 15:57] #78 closed, assigned to schmidchr

[2018-06-07 16:06] #118 closed, assigned to nobody

[2018-06-07 16:07] culmat commented on #100
Baloise: POZ ?

[2018-06-07 16:08] #99 closed, assigned to Brenzikofer

[2018-06-07 16:10] #85 closed, assigned to nobody

[2018-06-07 16:11] culmat opened #137 "Rechnungsstellung"
an Sponsoren

[2018-06-11 15:17] schmidchr commented on #126
in my opinion it will be difficult to find for the jury some renowned (-> busy) non-IT specialists (local economy, politics, education, ...) and also IT-professional, if we ask for a presence during a substantial part of the weekend!

[2018-06-11 15:20] schmidchr commented on #126
We might ask if one member of the jury volunteers to briefly present the evaluation criteria at some early stage of the hacking

[2018-06-11 15:28] schmidchr commented on #101
open source code (on github) -> requires time and knowledge from judges <br>
publicly accessible prototype, linked on project page -> BaselHack to provide server space

[2018-06-26 17:26] sjoerd222888 commented on #87
I would like to learn about sponsoring opportunities. What sponsoring packages do you have? Neither website nor this repo provides a lot of information.

You should make sponsoring information available on the website. Even if it is only something like: "If you want to learn about sponsoring opportunities please send an email to sponsoring@baselhack.ch". On the currently defunct page 'Sponsors'? O

[2018-06-26 17:34] sjoerd222888 opened #138 "member"
name: Alexander Timmermans
email: alexander@timmermans.ch
username: sjoerd222888

Thx

[2018-06-26 17:37] sjoerd222888 commented on #138
I think I cannot at the label "member" myself, can I?

[2018-08-09 15:12] #135 closed, assigned to culmat

[2018-08-09 15:17] culmat commented on #104
Klaus Fuchs von http://Rockstar.jobs  bietet an einen CV-Check-Booth zu machen

[2018-08-09 15:20] #87 closed, assigned to nobody

[2018-08-09 15:36] culmat commented on #97
Migros OK, siehe https://github.com/BaselHack/verein/wiki/Monthy-Sync-2018

[2018-09-06 13:26] culmat commented on #138
@sjoerd222888 willkommen
@StanBarrows kannst du bitte Alexander noch in die mailing-list member@baselhack.ch aufnehmen?
Bis bald.
Matthias

[2018-09-06 16:11] culmat commented on #91
Lösung in baselhack.ch implementiert

[2018-09-06 16:11] #91 closed, assigned to culmat

[2018-09-06 16:13] culmat commented on #116
eventuell  bei trivadis?

[2018-09-06 16:20] culmat opened #139 "karakun anfragen für sponsoring"

[2018-09-06 16:27] culmat commented on #100
Vorschläge (TB)
Adrian Bult, Basler Kantonbank
Alain Bindels, Roche
Abhi Verma, Novartis
Andrew Warrington
Desiree Mettreaux, Creadi PAX

[2018-09-06 16:33] #90 closed, assigned to nobody

[2018-09-06 16:34] #92 closed, assigned to jjerlich

[2018-09-07 16:21] jjerlich opened #140 "Promotion - digital assets"
Please contact owners of websites to rewrite the BaselHack articles for evergreen information
https://www.bluesky-it.ch/baselhack.html
http://ict-agenda.ch/events/basel-hack

[2018-09-07 16:58] jjerlich commented on #140
Position partners
https://powercoders.org/about/index.php

[2018-09-10 16:23] jjerlich opened #141 "Twitter Account Details"
Liebe Leute, lieber Oliver!

Ich brauche nun wirklich dringend die Rückmeldung bzw. die Accountdaten von unserem Twitter Account.

Nach vielen Emails haben wir ja zusammen rausgefunden, dass Valeria Can die Daten haben müsste.

Oliver schrieb "Valerie arbeitet bei der BKB. Ich habe sie in meiner LinkenIn Kontaktliste und frage sie mal. Zudem kann ich die Nachfolgerin von Valerie fragen, ob sie die

[2018-09-11 18:32] jjerlich commented on #116
Trivadis confirmed hosting the pre-event incl. Apero, Yeah!!

[2018-09-13 13:33] culmat opened #142 "Video Conferencing tool setup"
https://discordapp.com/
https://www.teamspeak.com/
https://www.skype.com
https://www.starleaf.com
https://zoom.us/

[2018-09-27 16:36] jjerlich commented on #116
Date Options clear now - Decision awaited
16.11.2018
19.11.2018
20.11.2018

Org Details:
- Creative & casual meeting Room
- Apero with Italian Food provided by Trivadis

Agenda:
- Tech Input
- Data Sets at the Hack
- What it takes to do a Hack
- Examples from 2017 Teams

[2018-10-02 07:25] mayvi commented on #120
Hat leider nicht geklappt mit den Daten. Die Daten die öffentlich gemacht werden können sind bereits opendata.swiss verfügbar.

[2018-10-02 07:26] #120 closed, assigned to mayvi

[2018-10-02 07:28] mayvi commented on #102
Die Zentralen Informatikdienste des Kt. Basel-Stadt werden wieder Pro Innerstadt Gutscheine spenden. Der Betrag ist noch nicht bekannt.

[2018-10-04 14:02] culmat commented on #139
anfrage gesendet

[2018-10-04 14:52] jjerlich opened #143 "Kanton Basel Stadt Standortförderung"
After meeting with Frau Rötlisberger today:
BS wants a pre-event, extra 2-3 hours of motivating FinTech und InsurTech to send people to BaselHack.
Baloise as shining example, invitation done by the kanton
Proposed the afternoon before the Pre-Event
Dates to be fix together with Pre-Event

[2018-10-04 16:28] mayvi commented on #127
Plattform für Code der Teilnehmer: Gleich wie letztes Jahr mit GitHub, allerdings sollen die Teilnehmer ihre eignen Repositorys, die wir dann forken können.

[2018-10-04 16:37] StanBarrows commented on #93
Adobe?, Firmen in Basel, Kalender Einträge?

[2018-10-04 16:38] StanBarrows opened #144 "Add Webilea Event"

[2018-10-04 16:38] StanBarrows commented on #144
BaselHack hinzufügen

[2018-10-04 16:39] StanBarrows opened #145 "Invite all Members for a Meeting / Schedule"
Activating the Team members

[2018-10-09 15:07] mayvi commented on #141
Valerie hat die Daten leider nicht. Hoffentlich hat sie die Nachfolgerin

[2018-10-09 15:13] jjerlich commented on #116
Decision/Entscheidung

Deployment Workshop
16.11.2018 Technik

Pre-Event ab 18:30 Beginn
16.11.2018
Daten, Ideen, Kennen lernen, What it takes to succeed
Priska Fragen

[2018-10-09 15:17] jjerlich commented on #141
- Matthias fragt bei Baloise nach

[2018-10-09 15:19] jjerlich commented on #145
Meeting an den folgenden Termine machen
25.10.2018
01.11.2018
danach weiter wöchentlich

[2018-10-09 15:22] jjerlich opened #146 "Helpers List for the Hack Weekend"
Create Excel List for Hack Weekend based on last years
"Einsatzplan"

[2018-10-09 15:29] jjerlich commented on #110
Explicit question to de-register from the Hack in the nwsletter at least 2 times before

[2018-10-09 15:32] culmat commented on #107
https://gitter.im/BaselHack/

[2018-10-09 15:32] jjerlich commented on #107
We have all person data in the backend of the website to reach the people.
We can get feedback from groups / leaders through Mailchimp or through a GoogleForm

[2018-10-09 15:34] jjerlich commented on #111
For further development of ideas ... as price.

Baloise: Jean-Michel Benkert wird von Matthias angeschrieben.

[2018-10-09 15:42] jjerlich commented on #98
Make a list
- many things from Baloise

will be taken up at the next physical meeting

[2018-10-09 15:44] jjerlich commented on #93
Communication via Baloise Jobs Blog - Jonas und Jutta
traditional PR through them

[2018-10-09 15:44] culmat commented on #93
Hat hier nichts zu suchen, aber zur Info : http://techup.ch/2671/baselhack

[2018-10-09 15:57] culmat commented on #142
it is skype

[2018-10-09 15:57] #142 closed, assigned to culmat

[2018-10-09 15:58] #139 closed, assigned to culmat

[2018-10-09 16:00] JJatsch commented on #136
ok

[2018-10-09 16:00] mayvi commented on #136
yes, cool :-)

[2018-10-09 16:01] culmat commented on #136
+1

[2018-10-09 16:01] JJatsch commented on #138
ok

[2018-10-09 16:01] culmat commented on #138
+1

[2018-10-09 16:02] mayvi commented on #138
thumbs up

[2018-10-09 17:38] culmat commented on #119
https://github.com/BaselHack/baselhack.archived/tree/master/graphics

[2018-10-09 20:23] OliverFritsch commented on #141
Valerie hat mir auch bestätigt, dass sie die Zugangsdaten nicht hat.
Ihre Nachfolgerin war/ist Lisa Hinterberger- Mit ihr hatte ich schon mal gesprochen und auch sie hatte damals die Daten nicht.

Am 09.10.2018 um 19:17 schrieb Jutta <notifications@github.com<mailto:notifications@github.com>>:

  *   Matthias fragt bei Baloise nach

—
You are receiving this because you were assigned.
Reply to this

[2018-10-10 11:56] rordi commented on #136
Danke :)

[2018-10-16 12:56] mayvi commented on #145
Raum 1.14 (für beide Tage) in der FHNW ist reserviert und Einladung für den 25.10. verschickt.

[2018-10-16 12:56] #145 closed, assigned to mayvi

[2018-10-16 15:12] StanBarrows opened #147 "Marketing Boost"

[2018-10-16 15:16] StanBarrows commented on #147
Bis zum nächsten Event:

Mail an Teilnehmer rauslassen für Marketing: @jjerlich & @StanBarrows

- Adobe Infor für Marketing mit der Rechnung @JJatsch
- Baloise Info geht noch raus @JJatsch @culmat
- Basel Area Swiss @Brenzikofer
- Standortförderung Basel Stadt @JJatsch
- Facebook Marketing (Budget  50-100 CHF) @jjerlich
- Google Adwords @StanBarrows (Gutschein 50CHF)
- LinkedIn Teilen @alle
- Hand

[2018-10-16 15:33] rordi commented on #147
Es gibt einige Meetups in Basel, z.B. habe ich das DX Meetup angefragt, ob sie eine Folie zeigen können nächste Woche (https://www.meetup.com/de-DE/Digital-Experience-Group/). Gibt es sowas wie eine Folie mit den Key Facts die man erwähnen muss (Datum, Zeit, Ort, gratis Teilnahme, Sponsoren, etc.)?

Weitere Meetups in nächster Zeit in Basel mit relevanter Zielgruppe:
- https://www.meetup.com/de-DE

[2018-10-25 12:38] mayvi commented on #101
I created an updated evulation criteria sheet in Google Drive incl. evaluation sheet (Event Folder 2018). The criteria are the same as last year. I have adapted the text a little.

[2018-10-25 12:40] mayvi commented on #146
I created a list in the Google drive called Einatzplan_BaselHack18. From now on you can sign in :-)

[2018-10-25 15:28] mayvi opened #148 "Write to the participants of last year (Invitation)"
https://docs.google.com/spreadsheets/d/1lV8xd-7qg3OoC_bOVRloHFeTlrloTJyA0d1kTrv6xTY/edit#gid=1902023898

[2018-10-25 15:44] mayvi opened #149 "Liste mit Kontaktdaten und Notfallnummern ergänzen in der Einsatzplanung"

[2018-10-25 15:48] mayvi opened #150 "Anmeldemöglichkeit für Helfer auf der Website"

[2018-10-25 16:14] mayvi opened #151 "Trivadis als Sponsor auf der Website hinzufügen"
Sponsor of the pre event

[2018-11-01 19:58] schmidchr opened #152 "Find app to collect votes from audience (and jury?)"
discussed options:

- doodle
- google table
- other ...

[2018-11-01 20:00] schmidchr opened #153 "create e-mail address to centralize exchanges with jury members"

[2018-11-01 20:13] schmidchr opened #154 "[BaselHack/event] One of your dependencies may have a security vulnerability"
Not sure if also other team members get these messages, anybody with an idea what to do? <br>
"We found a potential security vulnerability in a repository for which you have been granted security alert access.<br>
BaselHack/event <br>

Known  high severity security vulnerability detected in merge < 1.2.1 defined in package-lock.json.  <br>

[2018-11-02 19:09] jjerlich commented on #152
www.mentimeter.com
Have full access through a friend for the 25.11.2018 - he is our sponsor!

[2018-11-02 19:09] jjerlich commented on #152
Need to set it up for the Hack - help appreciated

[2018-11-02 19:09] #152 closed, assigned to Brenzikofer, jjerlich

[2018-11-02 19:12] #143 closed, assigned to culmat, Brenzikofer, jjerlich, JJatsch

[2018-11-02 19:12] jjerlich commented on #143
Ideation Workshop will happen on the 23.11.2018
https://www.baselarea.swiss/baselarea-swiss/channels/innovation-events/2018/11/partner-event-baselhack-preevent-%E2%80%93-ideating-workshop-fintech.html

[2018-11-08 16:23] jjerlich commented on #116
Wer kann einen Beitrag am Pre-Event machen?

[2018-11-08 16:31] StanBarrows opened #155 "Slack Account - who has the credentials? =)"
- [ ] Slack Account - who has the credentials? =)

[2018-11-08 16:35] jjerlich commented on #141
Bitte @culmat und @JJatsch um Nachfrage bei euch intern nachfragen, wer da den Account bedienen könnte.

[2018-11-09 07:21] mabrimo commented on #155
Not me, sorry!

[2018-11-09 16:09] jjerlich commented on #116
Anfrage zur Teilnahme ging raus
Christopher Zimmermann
Robin Freyburger, Actemium
Elizaveta Semenova

Absage
Priska Burkard
Stefani -Gerber

Partner
Caspar von Stümpnagel, Trivadis
Alexander Papezik, Trivadis
Tina Crameri www.projekt-blink.ch

Zugesagt haben:
Roland Brand
Ixchel Ruiz and Andres Almiray (Founders Hackergarten)
Dietrich Rordorf
Alexander Timmermans from PubTransViz - Prototyp fertig

[2018-11-13 17:17] jjerlich opened #156 "Add timeline of Hack to website"

[2018-11-13 17:18] jjerlich commented on #156
Take timeline from https://www.baselarea.swiss/baselarea-swiss/channels/innovation-events/2018/11/baselhack-%E2%80%93-the-second.html

[2018-11-13 17:44] jjerlich opened #157 "Send Reminder for Friday Events"
Aussendung als
"Lets Boot and Pre-Event Reminder Friday"
im Mailchimp vorbereitet

Zielgruppe: Participants und Team

DANKEE

[2018-11-14 08:55] culmat opened #158 "Print material for event"
decoration ( posters )
- [x] logo
- [x] sponsors
- [x] qr codes for social media
- [x] agenda

organisation
- [x]  [einsatzplan](https://docs.google.com/spreadsheets/d/1H1I6tTmXcEyd83ucu4b7E7u8liD58PXGpLg3ImnHC2Y/edit#gid=215906341)
- [x]  contact sheet
- [x]  [teilnehmerliste](https://www.baselhack.ch/manager/resources/participants)
- [ ]  Infos for [infos for staff](https://github.com/BaselHack/

[2018-11-16 20:26] valentinorusconi opened #159 "member"

[2018-11-26 21:30] strittmatter opened #160 "Mitgliedsantrag Patrick Strittmatter"
Patrick Strittmatter
patrick.strittmatter@actemium.ch
github.com/strittmatter

Ich habe am diesjährigen BaselHack teilgenommen und wurde so auf diesen Verein aufmerksam. Gerne möchte ich meine Unterstützung anbieten und es würde mich freuen, sofern ich mich diesem Netzwerk anschliessen dürfte.

[2018-11-28 09:38] #159 closed, assigned to nobody

[2018-12-04 16:57] StanBarrows commented on #160
Hoi Patrick,

Wir freuen uns über dein Interessen.

Wir beginnen im neuen Jahr mit den Vorbereitungen für den BaselHack 2019 und einer Mitgliederversammlung. Gerne laden wir dich zum ersten Treffen im neuen Jahr ein. Weitere Details erfolgen via E-Mail.

Liebe Grüsse
Stan

[2018-12-04 17:04] #158 closed, assigned to culmat

[2018-12-04 17:04] #157 closed, assigned to StanBarrows

[2018-12-04 17:05] #126 closed, assigned to schmidchr

[2018-12-04 17:05] #156 closed, assigned to StanBarrows

[2018-12-04 17:06] jjerlich commented on #155
Christian Hauck

[2018-12-04 17:12] #154 closed, assigned to culmat, StanBarrows

[2018-12-04 17:12] #153 closed, assigned to StanBarrows

[2018-12-04 17:12] #151 closed, assigned to StanBarrows

[2018-12-04 17:13] #150 closed, assigned to StanBarrows

[2018-12-04 17:13] #149 closed, assigned to mayvi

[2018-12-04 17:13] #148 closed, assigned to culmat

[2018-12-04 17:13] #147 closed, assigned to culmat, StanBarrows, Brenzikofer, mayvi, jjerlich, JJatsch

[2018-12-04 17:14] StanBarrows commented on #147
@rordi
Tagged mit @2019, müsste man sicher aufgreifen.

[2018-12-04 17:14] #146 closed, assigned to mayvi

[2018-12-04 17:16] #144 closed, assigned to Brenzikofer

[2018-12-04 17:16] #141 closed, assigned to mayvi, OliverFritsch

[2018-12-04 17:17] #140 closed, assigned to jjerlich

[2018-12-04 17:18] #137 closed, assigned to dariotodaro, JJatsch

[2018-12-04 17:18] #134 closed, assigned to mayvi

[2018-12-04 17:18] #133 closed, assigned to nobody

[2018-12-04 17:19] #132 closed, assigned to michelpfirter, schmidchr

[2018-12-04 17:19] #131 closed, assigned to michelpfirter, domberg

[2018-12-04 17:19] #130 closed, assigned to michelpfirter, andgart, mayvi, domberg

[2018-12-04 17:19] #129 closed, assigned to michelpfirter, andgart

[2018-12-04 17:19] #128 closed, assigned to mayvi, domberg

[2018-12-04 17:19] #127 closed, assigned to andgart

[2018-12-04 17:19] #125 closed, assigned to nobody

[2018-12-04 17:19] #124 closed, assigned to nobody

[2018-12-04 17:19] #123 closed, assigned to michelpfirter, mayvi

[2018-12-04 17:20] #119 closed, assigned to StanBarrows, mayvi

[2018-12-04 17:21] #121 closed, assigned to Brenzikofer

[2018-12-04 17:21] #111 closed, assigned to nobody

[2018-12-04 17:21] #116 closed, assigned to culmat, dariotodaro, Brenzikofer, jjerlich, JJatsch

[2018-12-04 17:21] StanBarrows opened #161 "Mail Switch to TicketSystem"

[2018-12-04 17:22] #107 closed, assigned to StanBarrows

[2018-12-04 17:22] #93 closed, assigned to jjerlich, JJatsch

[2018-12-04 17:34] StanBarrows opened #162 "5th February 2019 - Generalversammlung BaselHack"
### We proudly invite to our yearly Generalversammlung

**Date**: 5. Februar 2019
**Time**: 19:00 - 21:00
**Location**: to be defined

[2018-12-04 17:37] StanBarrows opened #163 "19th February 2019 - Kick-Off BaselHack 2019"
### We proudly invite to the Kick-Off BaselHack 2019

**Date**: 19. Februar 2019
**Time**: 19:00 - 21:00
**Location**: to be defined

[2018-12-04 17:40] culmat commented on #122
what for?

[2018-12-04 17:41] #97 closed, assigned to OliverFritsch

[2018-12-04 17:41] #98 closed, assigned to nobody

[2018-12-04 17:41] #100 closed, assigned to Brenzikofer, andgart, schmidchr

[2018-12-04 17:41] #101 closed, assigned to schmidchr, mayvi

[2018-12-04 17:41] #102 closed, assigned to michelpfirter, JJatsch

[2018-12-04 17:41] #104 closed, assigned to michelpfirter, andgart, schmidchr, mayvi, domberg

[2018-12-04 17:41] #105 closed, assigned to andgart, mayvi

[2018-12-04 17:41] #106 closed, assigned to nobody

[2018-12-04 17:43] jjerlich opened #164 "Awards 2019"
Caspar from Trivadis offer to sponsor an award

[2018-12-04 17:52] StanBarrows opened #165 "Versand: Notifications"
- [ ] Feedback Versand
- [ ] Einladung GV
- [ ] Einladung Kick-off

[2018-12-04 17:55] jjerlich commented on #165
Questionnaire for participants https://docs.google.com/forms/d/1sJrqHjrvPLPgmTyM7S0z6DfVw4BHdCZtQ8TvUuzfw_E

[2018-12-22 15:23] culmat commented on #162
See https://github.com/BaselHack/Verein/wiki/Generalversammlung-BaselHack-2019

[2019-01-31 10:15] sabinsc commented on #19
Austritt
Liebe Basel Hackers. Hiermit ziehe ich mich zurück aus dem Verein. Das OGD-Pilotprojekt 2017/18 ist beendet, s. [www.staatskanzlei.bs.ch/ogdBS](https://www.staatskanzlei.bs.ch/ogdBS). Danke für euer Engagement. Herzlich, sabin

[2019-02-01 09:37] culmat commented on #163
see https://docs.google.com/document/d/182XjqtvhqNeIV0MkHAKc0OJpb108N3Hg52pHZxNLPxQ/

[2019-02-04 16:07] strittmatter commented on #160
@StanBarrows @culmat
Gibt es bereits weitere Details zur morgigen Mitgliederversammlung? Ich habe leider keine E-Mail erhalten und bin hier (#162, [Generalversammlung-BaselHack-2019](https://github.com/BaselHack/Verein/wiki/Generalversammlung-BaselHack-2019)) leider auch nicht fündig geworden.

Liebe Grüsse
Patrick

[2019-02-05 09:42] michelpfirter commented on #160
@culmat @StanBarrows
Würde mich @strittmatter Frage gerne anschliessen :-)
Danke & Grüsse

[2019-02-05 09:46] StanBarrows commented on #160
@michelpfirter , @strittmatter

Liebe Mitgliederinnen und Mitglieder des Vereins BaselHack,

Es freut mich, Euch hiermit zur Vereinsversammlung 2019 einzuladen.

Diese findet statt:

Date: 5. Februar 2019
Time: 19:00 - 21:00
Location: BaselArea.swiss, Dufourstrasse 11, Basel; Raum Erasmus

Traktanden:
Wahl der Stimmzähler
Genehmigung des Protokolls der letzten Mitgliederversammlung
Genehmigung des

[2019-02-05 12:14] michelpfirter commented on #160
@StanBarrows Danke

[2019-02-19 13:16] michelpfirter commented on #163
Hi, could some please be so kind and tell me where the kickoff will be and if 19:00 - 21:00 is still correct? Thanks

[2019-02-19 13:24] strittmatter commented on #163
@michelpfirter
Once again, we are looking for the same information :)

@StanBarrows @culmat
Could you please give us further details about the kickoff?

[2019-02-19 13:52] StanBarrows commented on #163
@strittmatter , @michelpfirter

Hier ein Reminder zum Kickoff BaselHack 2019
Date: 19. Februar 2019
Time: 19:00 - 21:00
Location: FHNW-Basel, Peter-Merian
Raum wird am Display im Eingang angezeigt.
Für freuen uns auf Dein kommen!
Das BaselHack Team

[2019-02-19 18:39] StanBarrows opened #166 "Baselhack: Event 2019 Date & Location"
Provisorische Daten für den BaselHack 2019

- [ ] 12. / 13. Oktober 2019
- [ ] 19. / 20. Oktober 2019
- [x] 2. / 3. November 2019
- [ ] 16. / 17. November 2019
- [ ] 23. / 24. November 2019

[Add Events to Calendar](https://teamup.com/ksjzsvygmvckdnpeii)

Location

Voltahalle
kein internet, dezentral
11.10 bis 13.10, 900 CHF
41 61 275 96 53
Brunella Torres
brunella.torres at iwb.ch

AlteMarkthalle

[2019-02-19 18:47] StanBarrows opened #167 "Baselhack: Calendar"
### Subscribe to our Calendar

- [Baselhack - ics](https://ics.teamup.com/feed/ks7c8r4p229bjszgu8/6158216.ics)
- [Baselhack - teamup](https://teamup.com/ks7c8r4p229bjszgu8)

**Manual:**

<img width="1370" alt="image" src="https://user-images.githubusercontent.com/10268813/53039558-b7c2d200-347f-11e9-8886-099265fe32e6.png">

[2019-02-19 18:53] #19 closed, assigned to culmat, Brenzikofer

[2019-02-19 18:53] #94 closed, assigned to jjerlich

[2019-02-19 18:53] #110 closed, assigned to nobody

[2019-02-19 18:54] #165 closed, assigned to StanBarrows, jjerlich

[2019-02-19 18:55] #164 closed, assigned to jjerlich

[2019-02-19 18:55] #163 closed, assigned to culmat, StanBarrows, dariotodaro, mayvi, OliverFritsch, jjerlich

[2019-02-19 18:55] #162 closed, assigned to culmat, StanBarrows, dariotodaro, mayvi, OliverFritsch, jjerlich

[2019-02-19 18:55] #161 closed, assigned to StanBarrows

[2019-02-19 18:55] #160 closed, assigned to nobody

[2019-02-19 18:55] #138 closed, assigned to StanBarrows

[2019-02-19 18:56] #136 closed, assigned to culmat, StanBarrows

[2019-02-19 18:56] #155 closed, assigned to hauckch1

[2019-02-19 18:56] #122 closed, assigned to nobody

[2019-05-14 18:14] StanBarrows opened #168 "BaselHack Invitation: Wurst und Bier Fest"
Dear BaselHack member

After two successful events, we would like to say thank you and invite you all to the first BaselHack "Wurst und Bier Fest".

Save the date- Friday, 14th June
Starting from: 6pm for members  & helpers

Place/Location - Landauerstrasse 79, 4058 Basel

if you would like to attend, alone or in company, take a second and let us know.

https://doodle.com/poll/yz9ryacs9sddgtmv

Be

[2019-06-04 18:43] culmat opened #169 "Dokumente aus Google Drive nach MS Teams moven"

[2019-06-26 09:29] JJatsch commented on #166
Mit Anne-Claire Pliska telefoniert. 79 172 67 13. Treffe mich nächsten Mittwoch um 14 Uhr mit ihr im SmartCityLab. Will noch jemand mitkommen?
Hack im November kein Problem, im August hosten sie schon einen anderen Hackathon.

[2019-07-02 16:54] #168 closed, assigned to culmat, martinchristen, hauckch1, juengls, StanBarrows, sjoerd222888, dariotodaro, michelpfirter, sabinsc, rordi

[2019-10-22 15:57] #166 closed, assigned to culmat, StanBarrows, michelpfirter

[2019-10-22 16:02] culmat opened #170 "Sponsor onboarding"
https://www.baselhack.ch/sponsors the words **Become a sponsor** should be a link.
How? What to we offer?

[2019-10-22 16:12] culmat opened #171 "TODO BaselHack 2019"
1. Besichtigung ImpactHub - Stand der Dinge | @jjerlich , @culmat :heavy_check_mark:
   1. Kreativ Material ( Flips, Stifte ) Impact Hub hat whiteboards, bitte keine Permanentmarker mitbringen :heavy_check_mark:
1. Event koordination @culmat
   1. [Helferplan](https://github.com/BaselHack/Verein/wiki/BaselHack-2019-supporters) & koordination, Brauchen wir Nachtwächter : nein --> mehr Helfer Nachfr

[2019-10-26 13:47] strittmatter commented on #171
Bzgl. Punkt 3. (Essen) siehe: [Catering](https://github.com/BaselHack/Verein/wiki/BaselHack-2019-supporters#catering---%EF%B8%8F--)

[2019-11-05 16:23] #171 closed, assigned to culmat, strittmatter, StanBarrows, dariotodaro, jjerlich, JJatsch

[2020-05-06 16:32] culmat opened #172 "Pre-Event Beschreibung erstellen"
inkl. Virtuell

[2020-05-06 16:35] culmat opened #173 "ImpactHub Locker"
Jerome nachfragen

[2020-05-06 16:36] culmat opened #174 "Wie hoch sind unsere Fixkosten"
was wenn wir keine Einnahmen haben und keinen Hack machen?

[2020-07-15 12:42] culmat commented on #173
Kostet 30.- CHF pro Monat ( wie auch der Briefkasten)
Nicht in unserem Abo enthalten

[2020-09-02 16:42] culmat opened #175 "Infratruktur für viruelle durchführung"
- https://www.ch-open.ch/bigbluebutton/ ?

[2020-09-09 16:52] culmat opened #176 "Neue Vereinsadresse"
Hallo Patrick, ciao Vorstände,

alles klar bei euch?

Wir sind von BaselArea angefragt die Adresse zu ändern und dies macht aus meiner Sicht Sinn.

Laut https://github.com/BaselHack/Verein/wiki/Mitgliederversammlung-BaselHack-2020 legen wir die Vereinsadresse zu ImpactHub.

Laut https://github.com/BaselHack/Verein/issues/173 sind die Kosten 30 CHF / Monat.

Laut https://www.baselhack.ch/imprint is

[2020-09-09 16:53] culmat commented on #176
:+1:

[2020-09-09 17:11] strittmatter commented on #176
👍 ist i.O. für mich - auch wenn die separate Ansprache mich etwas irritiert hat. Ich hoffe ich habe hier nichts verpasst? 🤔

[2020-09-14 05:50] StanBarrows commented on #176
Geht i.O. für mich auch wenn ich gerade auf der Leistung stehe wie ein "Daumen Hoch" smiley geht.

[2020-09-26 09:43] dariotodaro commented on #176
👍 Super

[2021-03-31 16:09] culmat opened #177 "Jahresbericht 2020"
https://github.com/BaselHack/Verein/wiki/Mitgliederversammlung-BaselHack-2021

[2021-03-31 16:10] culmat opened #178 "Finanzen und Rechung 2020"
https://github.com/BaselHack/Verein/wiki/Mitgliederversammlung-BaselHack-2021

[2021-04-14 12:40] jjerlich commented on #177
Hallo Matthias,
hier mal gleich das wichtigste zu Teams und Jury
https://github.com/BaselHack/Data/wiki/Baselhack-2020-Teams-&-Jury

[2021-04-29 12:49] bar9 opened #179 "Member Roland B"
name: Roland Brand
email: rolandbrand11@gmail.com
username: bar9

[2021-05-05 14:58] culmat opened #180 "Member Damaris M"
Name: Damaris Meier
Email: dm@damarismeier.ch
Github : ??

[2021-05-06 15:59] culmat commented on #179
added to member list see https://github.com/BaselHack/Verein/wiki/Mitglieder/_compare/c2347d7439d9652808a5ef23110cb3612c8d2e25...a8c1d7c109bf55ded02a60970d9f5599158b870d

[2021-05-06 15:59] #179 closed, assigned to culmat, strittmatter, StanBarrows, dariotodaro, JJatsch

[2021-05-07 10:55] damarismeier commented on #180
Jep! Jetzt ja 👍

[2021-06-01 07:20] #180 closed, assigned to culmat, strittmatter, StanBarrows, dariotodaro, JJatsch

[2021-06-23 07:26] valentinorusconi opened #181 "Member Valentino Rusconi"
Name: Valentino Rusconi
Email: valentino.rusconi@hey.com
Github : valentinorusconi

[2021-07-02 21:02] rordi commented on #181
Hi Valentino,

Thank you for your interest to join the Verein BaselHack. According to the bylaws two members of the board need to approve the membership request, which has happened with the two upvotes on your request. Welcome to the association! The BaselHack will take place on 11 & 12 September 2021 (more infos to follow soon). Hope to see you there.

[2021-07-02 21:02] #181 closed, assigned to nobody

[2021-07-02 21:06] rordi commented on #181
Added per https://github.com/BaselHack/Verein/wiki/Mitglieder/399721f00233d82ad9941c2f0d8702775e836906

[2021-07-02 21:13] #178 closed, assigned to dariotodaro

[2021-07-02 21:14] #177 closed, assigned to jjerlich

[2021-07-21 15:01] andreasmartin opened #182 "Membership request Andreas Martin"
Name: Andreas Martin
E-Mail: mail@andreasmartin.ch
GitHub: andreasmartin
FYI: I was involved as a [coach in 2017](https://github.com/BaselHack/Data/wiki/Coaching) and would love to be involved as a member as well as in the future event(s).

[2021-07-23 13:22] StanBarrows opened #183 "Rechnung | BaselHack"
Hoi Zusammen

Versuch Nr. 5 seit dem 04.01.2021.

Liebe Grüsse
 Sebastian Fix

[2021-07-23 14:25] dariotodaro commented on #183
Salli Sebastian, die zwei letzten Emails hab ich nicht bekommen. Matthias und ich haben dir am 17/03/2021 mal noch geantwortet, seit dem hab ich nichts mehr bekommen :P hattest du diese email gesehen? Lieber Gruss Dario

[2021-07-23 14:59] dariotodaro commented on #183
Jetzt hab ich grad noch gecheckt warum, weil die Emails an info@ gingen 😂 Entschuldige vielmals, ich hab die Rechnung jetzt beglichen ;) glg

[2021-07-25 10:22] StanBarrows commented on #183
Mercy =)

[2021-07-25 10:22] #183 closed, assigned to strittmatter, dariotodaro, sabinsc, rordi, jjerlich, sabrinascherzinger

[2021-08-04 10:57] #182 closed, assigned to nobody

[2022-04-29 15:13] #176 closed, assigned to culmat, strittmatter

[2022-04-29 15:13] #175 closed, assigned to nobody

[2022-04-29 15:13] #174 closed, assigned to culmat, dariotodaro

[2022-04-29 15:13] #173 closed, assigned to culmat

[2022-04-29 15:14] #172 closed, assigned to jjerlich, JJatsch

[2022-04-29 15:14] #169 closed, assigned to strittmatter, dariotodaro

[2022-05-04 08:25] wilkinsonjack1993 opened #184 "New Member: Jack Wilkinson"
Name: Jack Wilkinson
Email: wilkinsonjack1993@gmail.com
Github : wilkinsonjack1993

[2022-10-29 12:51] Anphisa opened #185 "member"
Name: Phaina Koncebovski
Email: (habt ihr hier wirklich Klartext eure Emails stehen? Werdet ihr nicht total zugespammt?)
Github : Anphisa

Hallo! Ich war beim BaselHack 2022 dabei und hatte viel Spass. Ich habe keine Ahnung, was meine zeitliche Verfügbarkeit sein wird, aber wenn ich Zeit habe, würde ich gerne bei euch mitmachen!